@import '../../../../../assets/styles/variables.css';

.navBarGameCollector {
	position: relative;
	width: 1280px;
	height: 660px;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 29px;
	left: 29px;

	z-index: 600;
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonTimer {
	position: absolute;
	top: 29px;
	left: 29px;

	z-index: 600;
}

.blockButtonWallet {
	position: absolute;
	top: 29px;
	right: 29px;

	z-index: 600;
}

.blockButtonPoints {
	position: absolute;
	top: 129px;
	right: 29px;

	z-index: 600;
}

.mapGame {
	width: 100%;
	height: 100%;
}
