@import '../../../../../assets/styles/variables.css';

.navBarGameCollector {
	position: relative;
	width: var(--notebook-width);
	height: var(--notebook-height);
	margin: 0 auto;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 44px;
	left: 45px;

	z-index: 600;
	transform: scale(1.2);
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonTimer {
	position: absolute;
	top: 44px;
	left: 50px;

	z-index: 600;
	transform: scale(1.2);
}

.blockButtonWallet {
	position: absolute;
	top: 44px;
	right: 50px;

	z-index: 600;
	transform: scale(1.2);
}

.blockButtonPoints {
	position: absolute;
	top: 180px;
	right: 50px;

	z-index: 600;
	transform: scale(1.2);
}

.mapGame {
	width: 100%;
	height: 100%;
}

/* media */
@media (max-width: 1620px) {
	.navBarGameCollector {
		width: var(--notebook-width);
		height: var(--notebook-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 44px;
		left: 45px;
		transform: scale(1.2);
	}

	.blockButtonPoints {
		top: 180px;
		right: 50px;
		transform: scale(1.2);
	}

	.blockButtonWallet {
		top: 44px;
		right: 50px;
		transform: scale(1.2);
	}

	.blockButtonTimer {
		top: 44px;
		left: 50px;
		transform: scale(1.2);
	}
}

@media (max-width: 1280px) {
	.navBarGameCollector {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 29px;
		left: 29px;
		transform: scale(1);
	}

	.blockButtonPoints {
		top: 133px;
		right: 29px;
		transform: scale(1);
	}

	.blockButtonWallet {
		top: 29px;
		right: 29px;
		transform: scale(1);
	}

	.blockButtonTimer {
		top: 29px;
		left: 29px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.navBarGameCollector {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		left: 14px;
		bottom: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		right: 10px;
		top: 108px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		top: 15px;
		right: 10px;
		transform: scale(0.8);
	}

	.blockButtonTimer {
		top: 15px;
		left: 10px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBarGameCollector {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: 4px;
		right: 0px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		top: 74px;
		right: 0px;
		transform: scale(0.6);
	}

	.exitButtonWrapper {
		left: 8px;
		bottom: 8px;
		transform: scale(0.6);
	}

	.blockButtonTimer {
		top: 4px;
		left: 0px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBarGameCollector {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -5px;
		right: -20px;
		transform: scale(0.5);
	}

	.blockButtonPoints {
		top: 50px;
		right: -20px;
		transform: scale(0.5);
	}

	.exitButtonWrapper {
		left: 0px;
		bottom: 0px;
		transform: scale(0.5);
	}

	.blockButtonTimer {
		top: -5px;
		left: -20px;
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.navBarGameCollector {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -12px;
		right: -30px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		top: 32px;
		right: -30px;
		transform: scale(0.4);
	}

	.exitButtonWrapper {
		left: -12px;
		bottom: -12px;
		transform: scale(0.4);
	}

	.blockButtonTimer {
		top: -12px;
		left: -30px;
		transform: scale(0.4);
	}
}
