@import '../../../../../assets/styles/variables.css';

.navBarGameGreenhouse {
	position: relative;
	width: var(--notebook-width);
	height: var(--notebook-height);
	margin: 0 auto;
}

.navigationLevelsWrapper {
	position: absolute;

	bottom: 335px;
	left: 45px;

	z-index: 200;
	transform: scale(1.2);
}

.exitButtonWrapper {
	position: absolute;
	bottom: 24px;
	left: 45px;

	z-index: 120;
	transform: scale(1.2);
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonWallet {
	position: absolute;
	top: 44px;
	right: 50px;

	z-index: 120;
	transform: scale(1.2);
}

.blockButtonPoints {
	position: absolute;
	top: 180px;
	right: 50px;

	z-index: 120;
	transform: scale(1.2);
}

.mapGame {
	width: 100%;
	height: 100%;
}

/* @media (max-width: 2280px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-pc-full-hd);
	}
}

@media (max-width: 1880px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-pc);
	}
}

@media (max-width: 1380px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-notebook);
	}
}

@media (max-width: 1250px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-tablet-notebook);
	}
}

@media (max-width: 1150px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-tablet);
	}
}

@media (max-width: 1044px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile);
	}
}

@media (max-width: 760px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile-mini);
	}
}

@media (max-width: 600px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile-ultra-mini);
	}
} */

/* media */
@media (max-width: 1620px) {
	.navBarGameGreenhouse {
		width: var(--notebook-width);
		height: var(--notebook-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		bottom: 335px;
		left: 45px;
		transform: scale(1.2);
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 45px;
		transform: scale(1.2);
	}

	.blockButtonPoints {
		top: 180px;
		right: 50px;
		transform: scale(1.2);
	}

	.blockButtonWallet {
		top: 44px;
		right: 50px;
		transform: scale(1.2);
	}
}

@media (max-width: 1280px) {
	.navBarGameGreenhouse {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		bottom: 210px;
		left: 24px;
		transform: scale(1);
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 24px;
		transform: scale(1);
	}

	.blockButtonPoints {
		top: 128px;
		right: 24px;
		transform: scale(1);
	}

	.blockButtonWallet {
		top: 24px;
		right: 24px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.navBarGameGreenhouse {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		transform: scale(0.8);
	}

	.exitButtonWrapper {
		bottom: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		top: 108px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBarGameGreenhouse {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: 0px;
		right: 6px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		top: 68px;
		right: 6px;
		transform: scale(0.6);
	}

	.exitButtonWrapper {
		left: 10px;
		bottom: 0px;
		transform: scale(0.6);
	}

	.navigationLevelsWrapper {
		left: 10px;
		bottom: 120px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBarGameGreenhouse {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -25px;
		transform: scale(0.5);
	}

	.blockButtonPoints {
		top: 30px;
		right: -25px;
		transform: scale(0.5);
	}

	.exitButtonWrapper {
		left: -4px;
		bottom: -10px;
		transform: scale(0.5);
	}

	.navigationLevelsWrapper {
		left: -4px;
		bottom: 51px;
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.navBarGameGreenhouse {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -25px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		top: 30px;
		right: -25px;
		transform: scale(0.4);
	}

	.exitButtonWrapper {
		left: -8px;
		bottom: -15px;
		transform: scale(0.4);
	}

	.navigationLevelsWrapper {
		left: -4px;
		bottom: 51px;
		transform: scale(0.4);
	}
}
