@import '../../../../../assets/styles/variables.css';

.navBarGameGreenhouse {
	position: relative;
	width: 1280px;
	height: 660px;
	margin: 0 auto;
}

.navigationLevelsWrapper {
	position: absolute;
	bottom: 210px;
	left: 24px;

	z-index: 200;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 120;
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 120;
}

.blockButtonPoints {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 120;
}

.mapGame {
	width: 100%;
	height: 100%;
}

@media (max-width: 2280px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-pc-full-hd);
	}
}

@media (max-width: 1880px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-pc);
	}
}

@media (max-width: 1580px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-notebook);
	}
}

@media (max-width: 1240px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-tablet);
	}
}

@media (max-width: 1044px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile);
	}
}

@media (max-width: 760px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile-mini);
	}
}

@media (max-width: 600px) {
	.navBarGameGreenhouse {
		margin: 0 auto;
		zoom: var(--zoom-mobile-ultra-mini);
	}
}
