@import '../../../../../assets/styles/variables.css';

.navBarGamePestControl {
	position: relative;
	width: var(--notebook-width);
	height: var(--notebook-height);
	margin: 0 auto;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 24px;
	left: 45px;
	transform: scale(1.2);

	z-index: 120;
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonTimer {
	position: absolute;
	top: 44px;
	left: 50px;
	transform: scale(1.2);

	z-index: 120;
}

.blockButtonWallet {
	position: absolute;
	top: 44px;
	right: 50px;
	transform: scale(1.2);

	z-index: 120;
}

.blockButtonPoints {
	position: absolute;
	top: 180px;
	right: 50px;
	transform: scale(1.2);

	z-index: 120;
}

.mapGame {
	width: 100%;
	height: 100%;
}

/* media */
@media (max-width: 1620px) {
	.navBarGamePestControl {
		width: var(--notebook-width);
		height: var(--notebook-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 45px;
		transform: scale(1.2);
	}

	.blockButtonPoints {
		top: 180px;
		right: 50px;
		transform: scale(1.2);
	}

	.blockButtonWallet {
		top: 44px;
		right: 50px;
		transform: scale(1.2);
	}

	.blockButtonTimer {
		top: 44px;
		left: 50px;
		transform: scale(1.2);
	}
}

@media (max-width: 1400px) {
	.navBarGamePestControl {
		width: var(--notebook-desktop-width);
		height: var(--notebook-desktop-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 30px;
		transform: scale(1.1);
	}

	.blockButtonPoints {
		top: 160px;
		right: 35px;
		transform: scale(1.1);
	}

	.blockButtonWallet {
		top: 44px;
		right: 35px;
		transform: scale(1.1);
	}

	.blockButtonTimer {
		top: 44px;
		left: 35px;
		transform: scale(1.1);
	}
}

@media (max-width: 1280px) {
	.navBarGamePestControl {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 24px;
		transform: scale(1);
	}

	.blockButtonPoints {
		top: 128px;
		right: 24px;
		transform: scale(1);
	}

	.blockButtonWallet {
		top: 24px;
		right: 24px;
		transform: scale(1);
	}

	.blockButtonTimer {
		top: 24px;
		left: 24px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.navBarGamePestControl {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.exitButtonWrapper {
		bottom: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		right: 10px;
		top: 108px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		right: 10px;
		transform: scale(0.8);
	}

	.blockButtonTimer {
		top: 24px;
		left: 10px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBarGamePestControl {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: 0px;
		right: -4px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		top: 68px;
		right: -4px;
		transform: scale(0.6);
	}

	.exitButtonWrapper {
		left: 10px;
		bottom: 0px;
		transform: scale(0.6);
	}

	.blockButtonTimer {
		top: 0px;
		left: -4px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBarGamePestControl {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -25px;
		transform: scale(0.5);
	}

	.blockButtonPoints {
		top: 40px;
		right: -25px;
		transform: scale(0.5);
	}

	.exitButtonWrapper {
		left: -6px;
		bottom: -10px;
		transform: scale(0.5);
	}

	.blockButtonTimer {
		top: -15px;
		left: -25px;
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.navBarGamePestControl {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -35px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		top: 30px;
		right: -35px;
		transform: scale(0.4);
	}

	.exitButtonWrapper {
		left: -15px;
		bottom: -10px;
		transform: scale(0.4);
	}

	.blockButtonTimer {
		top: -15px;
		left: -35px;
		transform: scale(0.4);
	}
}
