@import '../../../assets/styles/variables.css';

.finishScreen {
	display: flex;
	flex-direction: column;

	background-image: url(../../../../public/images/startScreen.png);
	background-repeat: no-repeat;
	background-size: cover;

	margin: 0 auto;

	max-width: var(--notebook-width);
	min-height: var(--notebook-height);
}

.statSection {
	display: flex;
	flex-direction: column;

	padding: 0px 128px 0px 25%;
	margin-bottom: 11%;
}

.blockTitle {
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}

.title {
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin-right: 25px;
}

.statBlock {
	margin-top: 14px;

	color: #dbe2f9;
	font-size: 20px;
	line-height: 32px;

	display: flex;
	flex-direction: column;
}

.result {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.result span {
	color: var(--primary-green);
	margin-left: 16px;
}

.navSection {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	padding: 0px 128px 0px 25%;
}

.wrapperBtn {
	margin-top: 25px;
	margin-left: 25px;
	max-width: 235px;
	width: 100%;
}

/* media */
@media (max-width: 960px) {
	.statSection {
		padding: 0px 90px 0px 90px;
	}

	.navSection {
		padding: 0px 90px 0px 90px;
	}

	.wrapperBtn {
		max-width: 200px;
	}
}

@media (max-width: 720px) {
	.title {
		font-size: 28px;
		line-height: 34px;
	}

	.statBlock {
		font-size: 18px;
	}

	.wrapperBtn {
		margin-top: 0px;
	}
}

@media (max-width: 600px) {
	.finishScreen {
		background-position: center;
	}

	.statSection {
		padding: 0px 50px 0px 50px;
	}

	.navSection {
		padding: 0px 50px 0px 50px;
	}

	.result {
		margin-bottom: 20px;
	}

	.result p {
		width: 120px;
	}
}

@media (max-width: 530px) {
	.statSection {
		padding: 0px 30px 0px 30px;
	}

	.blockTitle {
		flex-direction: column-reverse;
	}

	.navSection {
		padding: 0px 30px 0px 30px;
	}
}

@media (max-width: 400px) {
	.statSection {
		padding: 0px 20px 0px 20px;
	}

	.navSection {
		padding: 0px 20px 0px 20px;
		align-items: center;
		flex-direction: column-reverse;
	}

	.wrapperBtn {
		margin-bottom: 25px;
		margin-left: 0px;
	}
}
