@import '../../../assets/styles/variables.css';

.finishScreen {
	display: flex;
	flex-direction: column;

	border-radius: 36px;
	background-image: url(../../../../public/images/startScreen.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.statSection {
	display: flex;
	flex-direction: column;

	padding: 0px 128px 0px 25%;
	margin-bottom: 77px;
}

.blockTitle {
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
}

.title {
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin-right: 25px;
}

.statBlock {
	margin-top: 14px;

	color: #dbe2f9;
	font-size: 20px;
	line-height: 32px;

	display: flex;
	flex-direction: column;
}

.result {
	margin-bottom: 5px;
	display: flex;
	align-items: center;
}

.result span {
	color: var(--primary-green);
	margin-left: 16px;
}

.navSection {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	padding: 0px 128px 0px 25%;
}

.wrapperBtn {
	margin-top: 25px;
	margin-left: 25px;
	max-width: 235px;
	width: 100%;
}
