@import '../../../../assets/styles/variables.css';

.modalHouseWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modalHouse {
	position: absolute;
	z-index: 150;

	max-width: 360px;
	min-height: 230px;

	transform: scale(1.4);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	padding: 40px;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);
}

.closeBtnWrapper {
	position: absolute;
	top: 15px;
	right: 15px;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 1580px) {
	.modalHouse {
		transform: scale(1.4);
	}
}

@media (max-width: 1280px) {
	.modalHouse {
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.modalHouse {
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.modalHouse {
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.modalHouse {
		transform: scale(0.4);
	}
}

@media (max-width: 770px) {
	.modalHouse {
		transform: scale(0.4);
	}
}
