@import '../../../../assets/styles/variables.css';

.infoBlock {
	padding: 60px;
	max-width: 640px;
	min-height: 350px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);
}

.contentText {
	width: 100%;
	line-height: 32px;
}

.contentText span {
	color: var(--primary-green);
	font-size: 20px;
}

.wrapperBtn {
	margin-top: 40px;
	max-width: 155px;
	width: 100%;
	align-self: flex-end;
}
