@import '../../../../assets/styles/variables.css';

.infoBlock {
	position: absolute;
	z-index: 160;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 60px;
	max-width: 640px;
	min-height: 350px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);
}

.contentText {
	width: 100%;
	line-height: 32px;
}

.contentText span {
	color: var(--primary-green);
	font-size: 20px;
}

.wrapperBtn {
	margin-top: 40px;
	max-width: 155px;
	width: 100%;
	align-self: flex-end;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
