@import '../../../../assets/styles/variables.css';

.infoBlock {
	position: absolute;
	z-index: 160;

	padding: 60px;
	max-width: 680px;
	min-height: 350px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	transform: scale(1.4);
}

.contentText {
	width: 100%;
	line-height: 32px;
}

.contentText span {
	color: var(--primary-green);
	font-size: 20px;
}

.wrapperBtn {
	margin-top: 40px;
	max-width: 155px;
	width: 100%;
	align-self: flex-end;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width: 2320px) {
	.infoBlock {
		transform: scale(1.38);
	}
}

@media (max-width: 1960px) {
	.infoBlock {
		transform: scale(1.18);
	}
}

@media (max-width: 1580px) {
	.infoBlock {
		transform: scale(0.98);
	}
}

@media (max-width: 1360px) {
	.infoBlock {
		transform: scale(0.78);
	}
}

@media (max-width: 1228px) {
	.infoBlock {
		transform: scale(0.63);
	}
}

@media (max-width: 980px) {
	.infoBlock {
		transform: scale(0.52);
	}
}

@media (max-width: 770px) {
	.infoBlock {
		min-width: 700px;
		min-height: 620px;
		font-size: 20px;
		transform: scale(0.35);
	}
}
