@import '../../../../assets/styles/variables.css';

.authPlayerWrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 36px;
	background-color: rgba(0, 0, 0, 0.5);

	z-index: 120;
	animation: opacity 0.4s;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
