@import '../../../../../assets/styles/variables.css';

.lossBlockGameWrapper {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;
}

.lossBlockGame {
	padding: 50px;
	max-width: 600px;
	min-height: 580px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	z-index: 130;
}

.title {
	color: var(--primary-green);
	font-size: 48px;
	font-weight: 700;
	line-height: 32px;
}

.contentText {
	max-width: 600px;
	margin-top: 26px;
	margin-bottom: 15px;
	line-height: 24px;

	color: var(--secondary-text-gray);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.result {
	margin-top: 16px;
}

.result p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.resultIcon {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.resultIcon p {
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -0.414px;
	margin-left: 16px;
}

.btnWrapper {
	display: flex;
	max-width: 600px;
	width: 100%;
	margin-top: 180px;
}

.btnRestart {
	width: 100%;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.btnMap {
	width: 100%;
	margin-left: 20px;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background-color: var(--primary-green);

	color: var(--primary-black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 1044px) {
	.lossBlockGame {
		transform: scale(0.8);
	}
}

@media (max-width: 778px) {
	.lossBlockGame {
		transform: scale(0.6);
	}
}
