@import '../../../../assets/styles/variables.css';

.map {
	background-image: url(../../../../../public/images/mapBackgroung.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;

	max-width: var(--notebook-width);
	max-height: var(--notebook-height);

	width: 100%;
	height: 100%;

	position: relative;
}

.infoBlockWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.arrowUpBank,
.arrowUpShop {
	background-image: url(../../../../../public/images/arrowUpBank.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;

	height: 220px;

	position: absolute;
	top: 94px;

	z-index: 120;
	animation: arrowUpDesctop 2s;
}

.arrowUpBank {
	width: 190px;
	left: 44%;
}

.arrowUpShop {
	width: 190px;
	left: 49%;
}

.lab {
	background-image: url(../../../../../public/images/labTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;
	bottom: 247px;
	right: 141px;

	/* width: 350px;
	height: 350px; */
	max-width: 350px;
	max-height: 350px;
	width: 100%;
	height: 100%;

	cursor: not-allowed;
	z-index: 100;

	transform: scale(1.3);
}

.labAvailable {
	background-image: url(../../../../../public/images/labTableAvailable.svg);
	cursor: pointer;
}

.labAvailableAnimation {
	animation: opacityLabAnimation 10s;
}

.house {
	background-image: url(../../../../../public/images/houseTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;

	top: 170px;
	left: 454px;

	/* width: 375px;
	height: 147px; */
	max-width: 375px;
	max-height: 147px;
	width: 100%;
	height: 100%;

	cursor: not-allowed;
	z-index: 100;

	transform: scale(1.3);
}

.greenhouse {
	background-image: url(../../../../../public/images/greenhouseTable.svg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;

	position: absolute;

	/* width: 245px;
	height: 330px; */
	max-width: 245px;
	max-height: 330px;
	width: 100%;
	height: 100%;

	left: 136px;
	bottom: 181px;

	cursor: not-allowed;
	z-index: 100;

	transform: scale(1.3);
}

.houseAvailable {
	background-image: url(../../../../../public/images/houseTableAvailable.svg);
	cursor: pointer;
}

.greenhouseAvailable {
	background-image: url(../../../../../public/images/greenhouseTableAvailable.svg);
	cursor: pointer;
}

.trees {
	background-image: url(../../../../../public/images/trees.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	position: absolute;

	height: 333px;
	width: 85%;
	top: 123px;
	left: 100px;
	transform: scale(1.15);
}

.gardenBed {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	position: absolute;
	width: 50%;
	height: 270px;

	bottom: 149px;
	left: 406px;

	transform: scale(1.3);
}

.gardenBed.startGame {
	background-image: url(../../../../../public/images/gardenBed.svg);
}

.gardenBed.afterFirstGame {
	background-image: url(../../../../../public/images/plantedSeeds.svg);
}

.gardenBed.afterSecondGame {
	background-image: url(../../../../../public/images/sproutedSeeds.svg);
}

.trees.beforeThirdGame {
	background-image: url(../../../../../public/images/treesYellow.svg);

	animation: opacityBeforeTrirdGame 5s;
}

.gardenBed.beforeThirdGame {
	background-image: url(../../../../../public/images/gardenBedYellow.svg);

	animation: opacityBeforeTrirdGame 5s;
}

.gardenBed.beforeFourthGame {
	background-image: url(../../../../../public/images/pestAttack.svg);

	width: 54%;
	height: 350px;

	left: 357px;
	bottom: 100px;
}

.trees.beforeFifthGame {
	height: 335px;
	top: 125px;
	background-image: url(../../../../../public/images/treesApples.svg);
}

.gardenBed.beforeFifthGame {
	background-image: url(../../../../../public/images/harvestRiped.svg);

	width: 51%;
	height: 310px;

	bottom: 131px;
	left: 402px;
}

/* animations */
@keyframes opacityBeforeTrirdGame {
	from {
		opacity: 0;
	}

	20% {
		opacity: 0.2;
	}

	40% {
		opacity: 0.4;
	}

	60% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.8;
	}

	to {
		opacity: 1;
	}
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes arrowUpDesctop {
	from {
		opacity: 0;
		top: 180px;
	}

	to {
		top: 94px;
		opacity: 1;
	}
}

@keyframes arrowUp {
	from {
		opacity: 0;
		top: 120px;
	}

	to {
		top: 74px;
		opacity: 1;
	}
}

@keyframes arrowUpDesctopTablet {
	from {
		opacity: 0;
		top: 180px;
	}

	to {
		top: 66px;
		opacity: 1;
	}
}

@keyframes arrowUpTablet {
	from {
		opacity: 0;
		top: 120px;
	}

	to {
		top: 55px;
		opacity: 1;
	}
}

@keyframes arrowUpMobile {
	from {
		opacity: 0;
		top: 120px;
	}

	to {
		top: 44px;
		opacity: 1;
	}
}

@keyframes arrowUpMobileMini {
	from {
		opacity: 0;
		top: 120px;
	}

	to {
		top: 37px;
		opacity: 1;
	}
}

@keyframes opacityLabAnimation {
	from {
		opacity: 1;
	}

	10% {
		opacity: 0.25;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 0.25;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0.25;
	}

	60% {
		opacity: 1;
	}

	70% {
		opacity: 0.25;
	}

	80% {
		opacity: 1;
	}

	90% {
		opacity: 0.25;
	}

	100% {
		opacity: 1;
	}
}

@media (max-width: 1620px) {
	.map {
		max-width: var(--notebook-width);
		max-height: var(--notebook-height);
	}

	.lab {
		transform: scale(1.3);
	}

	.house {
		transform: scale(1.3);
	}

	.greenhouse {
		transform: scale(1.3);
	}

	.gardenBed.beforeFifthGame {
		transform: scale(1.3);
	}

	.arrowUpBank {
		width: 190px;
		left: 44%;
	}

	.arrowUpShop {
		width: 190px;
		left: 49%;
	}
}

@media (max-width: 1400px) {
	.map {
		max-width: var(--notebook-desktop-width);
		max-height: var(--notebook-desktop-height);
	}

	.lab {
		bottom: 195px;
		transform: scale(1.1);
	}

	.house {
		top: 141px;
		left: 367px;
		transform: scale(1.1);
	}

	.greenhouse {
		left: 112px;
		bottom: 138px;
		transform: scale(1.1);
	}

	.gardenBed {
		left: 353px;
		bottom: 109px;
		transform: scale(1.1);
	}

	.gardenBed.beforeFourthGame {
		left: 305px;
		bottom: 60px;
	}

	.gardenBed.beforeFifthGame {
		bottom: 92px;
		left: 342px;
		transform: scale(1.1);
	}

	.trees {
		top: 93px;
	}

	.trees.beforeFifthGame {
		height: 335px;
		top: 90px;
	}

	.arrowUpBank {
		width: 190px;
		left: 43%;
	}

	.arrowUpShop {
		width: 190px;
		left: 48%;
	}
}

@media (max-width: 1280px) {
	.map {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.lab {
		bottom: 155px;
		transform: scale(1);
	}

	.house {
		top: 110px;
		left: 334px;

		transform: scale(1);
	}

	.greenhouse {
		bottom: 117px;
		left: 103px;

		transform: scale(1);
	}

	.gardenBed {
		left: 320px;
		bottom: 80px;

		transform: scale(1);
	}

	.gardenBed.beforeFourthGame {
		left: 284px;
		bottom: 35px;
	}

	.gardenBed.beforeFifthGame {
		left: 316px;
		bottom: 62px;

		transform: scale(1);
	}

	.trees {
		position: absolute;
		width: 96%;
		height: 310px;

		left: 15px;
		top: 68px;

		transform: scale(1);
	}

	.trees.beforeFifthGame {
		height: 335px;
		top: 55px;
	}

	.arrowUpBank {
		width: 170px;
		height: 160px;
		left: 43.5%;
		top: 74px;
		animation: arrowUp 2s;
	}

	.arrowUpShop {
		width: 170px;
		height: 160px;
		left: 48.5%;
		top: 74px;
		animation: arrowUp 2s;
	}
}

@media (max-width: 1248px) {
	.map {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.lab {
		bottom: 100px;
		right: 78px;
		transform: scale(0.8);
	}

	.house {
		top: 90px;
		left: 213px;

		transform: scale(0.8);
	}

	.greenhouse {
		bottom: 59px;
		left: 60px;

		transform: scale(0.8);
	}

	.gardenBed {
		left: 262px;
		bottom: 38px;
		transform: scale(1);
	}

	.gardenBed.beforeFourthGame {
		left: 228px;
		bottom: 0px;

		transform: scale(0.97);
	}

	.gardenBed.beforeFifthGame {
		left: 254px;
		bottom: 19px;
		transform: scale(1);
	}

	.trees {
		position: absolute;
		width: 96%;
		height: 310px;

		left: 15px;
		top: 28px;

		transform: scale(1);
	}

	.trees.beforeThirdGame {
		height: 245px;
		top: 52px;
	}

	.trees.beforeFifthGame {
		height: 245px;
	}

	.arrowUpBank {
		width: 140px;
		height: 125px;
		left: 43.5%;
		top: 66px;
		animation: arrowUpDesctopTablet 2s;
	}

	.arrowUpShop {
		width: 140px;
		height: 125px;
		left: 48.5%;

		top: 66px;
		animation: arrowUpDesctopTablet 2s;
	}
}

@media (max-width: 1168px) {
	.map {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.lab {
		bottom: 26px;
		right: 2px;
		transform: scale(0.6);
	}

	.house {
		top: 36px;
		left: 124px;
		transform: scale(0.6);
	}

	.greenhouse {
		bottom: 3px;
		left: 7px;
		transform: scale(0.6);
	}

	.gardenBed {
		left: 203px;
		bottom: 0px;
		height: 265px;
		transform: scale(1);
	}

	.gardenBed.beforeFourthGame {
		left: 172px;
		height: 252px;
	}

	.gardenBed.beforeFifthGame {
		left: 194px;
		height: 228px;
		transform: scale(1);
	}

	.trees {
		height: 200px;

		left: 15px;
		top: 38px;

		transform: scale(1);
	}

	.trees.beforeThirdGame {
		height: 202px;
		top: 35px;
	}

	.trees.beforeFifthGame {
		height: 187px;
		top: 47px;
	}

	.arrowUpBank {
		left: 41.5%;
		top: 55px;
		width: 130px;
		height: 80px;
		animation: arrowUpTablet 2s;
	}

	.arrowUpShop {
		left: 47%;
		top: 55px;

		width: 130px;
		height: 80px;
		animation: arrowUpTablet 2s;
	}
}

@media (max-width: 920px) {
	.map {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.lab {
		bottom: -6px;
		right: -31px;
		transform: scale(0.5);
	}

	.house {
		top: 26px;
		left: 75px;
		transform: scale(0.5);
	}

	.greenhouse {
		bottom: -23px;
		left: -8px;
		transform: scale(0.5);
	}

	.gardenBed {
		left: 166px;
		height: 230px;
		transform: scale(1);
	}

	.gardenBed.beforeFourthGame {
		left: 143px;
		height: 215px;
	}

	.gardenBed.beforeFifthGame {
		left: 158px;
		height: 185px;
		transform: scale(1);
	}

	.trees {
		top: 20px;
		transform: scale(1);
	}

	.trees.beforeThirdGame {
		height: 186px;
		top: 19px;
	}

	.trees.beforeFifthGame {
		height: 150px;
		top: 42px;
	}

	.arrowUpBank {
		width: 130px;
		left: 40%;
		top: 44px;
		animation: arrowUpMobile 2s;
	}

	.arrowUpShop {
		width: 130px;
		left: 45%;
		top: 44px;
		animation: arrowUpMobile 2s;
	}
}

@media (max-width: 770px) {
	.map {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.lab {
		bottom: -15px;
		right: -53px;
		transform: scale(0.4);
	}

	.house {
		top: 9px;
		left: 19px;
		transform: scale(0.4);
	}

	.greenhouse {
		bottom: -34px;
		left: -31px;
		transform: scale(0.4);
	}

	.gardenBed {
		left: 134px;
		height: 180px;
	}

	.gardenBed.beforeFourthGame {
		left: 116px;
		height: 168px;
	}

	.gardenBed.beforeFifthGame {
		left: 125px;
		height: 142px;
		transform: scale(1);
	}

	.trees {
		top: -4px;
		transform: scale(1);
	}

	.trees.beforeThirdGame {
		height: 190px;
		top: 0px;
	}

	.trees.beforeFifthGame {
		height: 127px;
		top: 30px;
	}

	.arrowUpBank {
		width: 110px;
		height: 65px;
		left: 39.5%;
		top: 37px;
		animation: arrowUpMobileMini 2s;
	}

	.arrowUpShop {
		width: 110px;
		height: 65px;
		left: 44.5%;
		top: 37px;
		animation: arrowUpMobileMini 2s;
	}
}
