.map {
	background-image: url(../../../../../public/images/mapBack.svg);
	background-repeat: no-repeat;
	background-position: top;

	/* max-width: 1280px;
	max-height: 660px;

	width: 100%;
	height: 100%; */

	position: relative;
	width: 1280px;
	height: 660px;
}

.lab {
	background-image: url(../../../../../public/images/labTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;
	bottom: 155px;
	right: 95px;

	width: 350px;
	height: 350px;

	cursor: pointer;
}

.house {
	background-image: url(../../../../../public/images/houseTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;
	top: 62px;
	left: 334px;

	width: 375px;
	height: 198px;

	cursor: not-allowed;
}

.greenhouse {
	background-image: url(../../../../../public/images/greenhouseTable.svg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;

	position: absolute;
	width: 245px;
	height: 355px;

	left: 80px;
	bottom: 100px;

	cursor: not-allowed;
}

available {
	cursor: pointer;
}

.trees {
	background-image: url(../../../../../public/images/trees.svg);
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	width: 96%;
	height: 310px;

	left: 15px;
	top: 68px;

	color: #1e4e4f;
}

.thirdGame.trees {
	background-image: url(../../../../../public/images/treesYellow.svg) !important;
}
