.map {
	background-image: url(../../../../../public/images/mapBack.svg);
	background-repeat: no-repeat;
	background-position: top;

	/* max-width: 1280px;
	max-height: 660px;

	width: 100%;
	height: 100%; */

	position: relative;
	width: 1280px;
	height: 660px;
}

.lab {
	background-image: url(../../../../../public/images/labTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;
	bottom: 155px;
	right: 95px;

	width: 350px;
	height: 350px;

	cursor: pointer;
	z-index: 100;
}

.house {
	background-image: url(../../../../../public/images/houseTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;

	top: 110px;
	left: 334px;

	width: 375px;
	height: 147px;

	cursor: not-allowed;
	z-index: 100;
}

.greenhouse {
	background-image: url(../../../../../public/images/greenhouseTable.svg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;

	position: absolute;
	width: 245px;
	height: 330px;

	left: 80px;
	bottom: 117px;

	cursor: not-allowed;
	z-index: 100;
}

.houseAvailable {
	background-image: url(../../../../../public/images/houseTableAvailable.svg);
	cursor: pointer;
}

.greenhouseAvailable {
	background-image: url(../../../../../public/images/greenhouseTableAvailable.svg);
	cursor: pointer;
}

.trees {
	background-image: url(../../../../../public/images/trees.svg);
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	width: 96%;
	height: 310px;

	left: 15px;
	top: 68px;
}

.gardenBed {
	background-image: url(../../../../../public/images/gardenBed.svg);
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	width: 50%;
	height: 260px;

	left: 320px;
	bottom: 82px;
}

.afterFirstGame.gardenBed {
	background-image: url(../../../../../public/images/plantedSeeds.svg);
}

.afterSecondGame.gardenBed {
	background-image: url(../../../../../public/images/sproutedSeeds.svg);
}

.beforeThirdGame.trees {
	background-image: url(../../../../../public/images/treesYellow.svg);
}

.beforeThirdGame.gardenBed {
	background-image: url(../../../../../public/images/gardenBedYellow.svg);
}

.beforeFourthGame.gardenBed {
	background-image: url(../../../../../public/images/pestAttack.svg);

	width: 54%;
	height: 350px;

	left: 284px;
	bottom: 35px;
}

.beforeFifthGame.trees {
	background-image: url(../../../../../public/images/treesApples.svg);
}

.beforeFifthGame.gardenBed {
	background-image: url(../../../../../public/images/harvestRiped.svg);

	width: 51%;
	height: 310px;

	left: 316px;
	bottom: 62px;
}
