.map {
	background-image: url(../../../../../public/images/mapBack.svg);
	background-repeat: no-repeat;
	background-position: top;

	/* max-width: 1280px;
	max-height: 660px;

	width: 100%;
	height: 100%; */

	position: relative;
	width: 1280px;
	height: 660px;
}

.infoBlockWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 36px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;
}

.arrowUpBank,
.arrowUpShop {
	background-image: url(../../../../../public/images/arrowUpBank.svg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: contain;

	width: 220px;
	height: 220px;

	position: absolute;
	top: 60px;

	z-index: 110;
	animation: arrowUp 2s;
}

.arrowUpBank {
	left: 41.5%;
}

.arrowUpShop {
	left: 46.5%;
}

.lab {
	background-image: url(../../../../../public/images/labTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;
	bottom: 155px;
	right: 95px;

	width: 350px;
	height: 350px;

	cursor: not-allowed;
	z-index: 100;
}

.labAvailable {
	background-image: url(../../../../../public/images/labTableAvailable.svg);
	cursor: pointer;
}

.house {
	background-image: url(../../../../../public/images/houseTable.svg);
	background-repeat: no-repeat;
	background-position-x: right;
	background-position-y: bottom;

	position: absolute;

	top: 110px;
	left: 334px;

	width: 375px;
	height: 147px;

	cursor: not-allowed;
	z-index: 100;
}

.greenhouse {
	background-image: url(../../../../../public/images/greenhouseTable.svg);
	background-repeat: no-repeat;
	background-position-x: left;
	background-position-y: bottom;

	position: absolute;
	width: 245px;
	height: 330px;

	left: 80px;
	bottom: 117px;

	cursor: not-allowed;
	z-index: 100;
}

.houseAvailable {
	background-image: url(../../../../../public/images/houseTableAvailable.svg);
	cursor: pointer;
}

.greenhouseAvailable {
	background-image: url(../../../../../public/images/greenhouseTableAvailable.svg);
	cursor: pointer;
}

.trees {
	background-image: url(../../../../../public/images/trees.svg);
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	width: 96%;
	height: 310px;

	left: 15px;
	top: 68px;
}

.gardenBed {
	background-repeat: no-repeat;
	background-position: center;

	position: absolute;
	width: 50%;
	height: 270px;

	left: 320px;
	bottom: 80px;
}

.gardenBed.startGame {
	background-image: url(../../../../../public/images/gardenBed.svg);
}

.gardenBed.afterFirstGame {
	background-image: url(../../../../../public/images/plantedSeeds.svg);
}

.gardenBed.afterSecondGame {
	background-image: url(../../../../../public/images/sproutedSeeds.svg);
}

.trees.beforeThirdGame {
	background-image: url(../../../../../public/images/treesYellow.svg);

	animation: opacityBeforeTrirdGame 5s;
}

.gardenBed.beforeThirdGame {
	background-image: url(../../../../../public/images/gardenBedYellow.svg);

	animation: opacityBeforeTrirdGame 5s;
}

.gardenBed.beforeFourthGame {
	background-image: url(../../../../../public/images/pestAttack.svg);

	width: 54%;
	height: 350px;

	left: 284px;
	bottom: 35px;
}

.trees.beforeFifthGame {
	background-image: url(../../../../../public/images/treesApples.svg);
}

.gardenBed.beforeFifthGame {
	background-image: url(../../../../../public/images/harvestRiped.svg);

	width: 51%;
	height: 310px;

	left: 316px;
	bottom: 62px;
}

/* animations */
@keyframes opacityBeforeTrirdGame {
	from {
		opacity: 0;
	}

	20% {
		opacity: 0.2;
	}

	40% {
		opacity: 0.4;
	}

	60% {
		opacity: 0.6;
	}

	80% {
		opacity: 0.8;
	}

	to {
		opacity: 1;
	}
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes arrowUp {
	from {
		opacity: 0;
		top: 120px;
	}

	to {
		top: 60px;
		opacity: 1;
	}
}
