@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-image: url(../../../../../../public/images/aiGameBack.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	width: 1280px;
	height: 660px;
}

.screenWrapper {
	position: absolute;
	top: 25px;
	left: 50%;
	margin-left: -350px;
}

.numPadTable {
	position: absolute;
	bottom: 24px;
	left: 210px;

	background-image: url(../../../../../../public/images/numPad.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 141px;
	max-height: 172px;
	width: 100%;
	height: 100%;

	cursor: not-allowed;
}

.numPadTableAvailable:hover {
	background-image: url(../../../../../../public/images/numPadActive.svg);
	cursor: pointer;
}

.numPadTableActive {
	background-image: url(../../../../../../public/images/numPadActive.svg);
}

.bookTable {
	position: absolute;
	bottom: 0px;
	right: 100px;

	background-image: url(../../../../../../public/images/bookTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	overflow-x: hidden;

	max-width: 151px;
	max-height: 189px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

.bookTableActive {
	background-image: url(../../../../../../public/images/bookTableActive.svg);
}
