@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-image: url(../../../../../../public/images/aiGameBack.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: var(--notebook-width);
	height: var(--notebook-height);
}

.screenWrapper {
	position: absolute;
	left: 50%;
	margin-left: -350px;
	top: 87px;
	transform: scale(1.22);
}

.numPadTable {
	position: absolute;

	bottom: 15px;
	left: 225px;

	background-image: url(../../../../../../public/images/numPad.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 235px;
	max-height: 245px;

	width: 100%;
	height: 100%;

	cursor: not-allowed;
}

.numPadTableAvailable:hover {
	background-image: url(../../../../../../public/images/numPadActive.svg);
	cursor: pointer;
}

.numPadTableActive {
	background-image: url(../../../../../../public/images/numPadActive.svg);
}

.numPadTableAnimation {
	animation: opacityAnimation 5s;
}

.bookTable {
	position: absolute;
	bottom: 20px;
	right: 170px;

	background-image: url(../../../../../../public/images/bookTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	overflow-x: hidden;

	max-width: 225px;
	max-height: 255px;

	width: 100%;
	height: 100%;

	cursor: not-allowed;
}

.bookTableActive {
	background-image: url(../../../../../../public/images/bookTableActive.svg);
}

.bookTableAnimation {
	cursor: pointer;
	animation: opacityAnimation 5s;
}

/* animations */
@keyframes opacityAnimation {
	from {
		opacity: 1;
	}

	10% {
		opacity: 0.5;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 0.5;
	}

	40% {
		opacity: 1;
	}

	50% {
		opacity: 0.5;
	}

	60% {
		opacity: 1;
	}

	70% {
		opacity: 0.5;
	}

	80% {
		opacity: 1;
	}

	90% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
	}
}

/* media */
@media (max-width: 2320px) {
	.gameBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.screenWrapper {
		position: absolute;
		top: 87px;
		left: 50%;
		margin-left: -350px;

		transform: scale(1.22);
	}

	.numPadTable {
		bottom: 15px;
		left: 225px;

		max-width: 235px;
		max-height: 245px;
	}

	.bookTable {
		bottom: 20px;
		right: 170px;

		max-width: 225px;
		max-height: 255px;
	}
}

@media (max-width: 1960px) {
	.gameBack {
		width: var(--notebook-desktop-width);
		height: var(--notebook-desktop-height);
	}

	.screenWrapper {
		position: absolute;
		top: 56px;
		left: 50%;
		margin-left: -350px;

		transform: scale(1.11);
	}

	.numPadTable {
		bottom: 7px;
		left: 181px;
		max-width: 215px;
		max-height: 225px;
	}

	.bookTable {
		bottom: 20px;
		right: 170px;

		max-width: 220px;
		max-height: 213px;
	}
}

@media (max-width: 1580px) {
	.gameBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.screenWrapper {
		position: absolute;
		top: 25px;
		left: 50%;
		margin-left: -350px;

		transform: scale(1);
	}

	.numPadTable {
		bottom: 5px;
		left: 197px;

		max-width: 165px;
		max-height: 195px;
	}

	.bookTable {
		bottom: 0px;
		right: 100px;

		max-width: 160px;
		max-height: 185px;
	}
}

@media (max-width: 1360px) {
	.gameBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.screenWrapper {
		top: -28px;
		left: 50%;
		margin-left: -367px;

		transform: scale(0.8);
	}

	.numPadTable {
		bottom: 0px;
		left: 136px;
		max-height: 163px;
		transform: scale(1);
	}

	.bookTable {
		max-width: 118px;
		max-height: 144px;
	}
}

@media (max-width: 1228px) {
	.gameBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.screenWrapper {
		top: -70px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.6);
	}

	.numPadTable {
		bottom: 0px;
		left: 83px;
		max-height: 136px;
		transform: scale(0.8);
	}

	.bookTable {
		max-width: 118px;
		max-height: 130px;
		bottom: 0;
		right: 78px;
		transform: scale(0.9);
	}
}

@media (max-width: 980px) {
	.gameBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.screenWrapper {
		top: -97px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.5);
	}

	.numPadTable {
		bottom: 0px;
		left: 55px;
		max-height: 113px;
		transform: scale(0.8);
	}

	.bookTable {
		max-width: 118px;
		max-height: 111px;
		bottom: 0;
		right: 78px;
		transform: scale(0.8);
	}
}

@media (max-width: 770px) {
	.gameBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.screenWrapper {
		top: -120px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.4);
	}

	.numPadTable {
		bottom: 0px;
		left: 28px;
		max-height: 92px;
		transform: scale(0.8);
	}

	.bookTable {
		max-width: 118px;
		max-height: 92px;
		bottom: 0;
		right: 48px;
		transform: scale(0.8);
	}
}
