@import '../../../../../assets/styles/variables.css';

.rulesBlockWrapper {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.4s;
}

.rulesBlockGame {
	padding: 45px;
	max-width: 744px;
	min-height: 490px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	z-index: 130;
	transform: scale(1.3);
}

.rulesContentWrapper {
	display: flex;
}

.rulesTextWrapper {
	display: flex;
	flex-direction: column;
}

.title {
	color: var(--primary-green);
	font-size: 46px;
	font-weight: 700;
	line-height: 32px;
}

.contentText {
	max-width: 500px;
	margin-top: 50px;
	margin-bottom: 10px;
	line-height: 24px;

	color: var(--secondary-text-gray);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.btnWrapper {
	display: flex;
	max-width: 744px;
	width: 100%;
	margin-top: 5px;
}

.btnMap {
	width: 100%;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.btnStartGame {
	width: 100%;
	margin-left: 20px;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background-color: var(--primary-green);

	color: var(--primary-black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.rulesInfo {
	margin: 20px 0px 6px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.rulesImg {
	max-width: 170px;
	max-height: 90px;

	user-select: none;
}

.rulesTerminalImg {
	max-width: 180px;
	max-height: 100px;
	user-select: none;
}

.rulesArrow {
	max-width: 130px;
	max-height: 50px;

	margin: 0px 20px;

	transform: rotate(90deg);
	user-select: none;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 2320px) {
	.rulesBlockGame {
		transform: scale(1.3);
	}
}

@media (max-width: 1960px) {
	.rulesBlockGame {
		transform: scale(1.15);
	}
}

@media (max-width: 1580px) {
	.rulesBlockGame {
		transform: scale(1);
	}
}

@media (max-width: 1360px) {
	.rulesBlockGame {
		transform: scale(0.8);
	}
}

@media (max-width: 1228px) {
	.rulesBlockGame {
		transform: scale(0.64);
	}
}

@media (max-width: 980px) {
	.rulesBlockGame {
		transform: scale(0.5);
		min-width: 780px;
		max-height: 730px;
	}

	.contentText {
		font-size: 19px;
	}

	.rulesContentWrapper img {
		max-width: 170px;
	}
}

@media (max-width: 770px) {
	.rulesBlockGame {
		transform: scale(0.4);
		min-width: 744px;
		max-height: 730px;
	}

	.contentText {
		font-size: 20px;
	}

	.rulesContentWrapper img {
		max-width: 170px;
	}
}
