@import '../../../assets/styles/variables.css';

.startScreen {
	position: relative;
	padding-top: 40px;
	border-radius: 36px;
	background-image: url(../../../../public/images/startScreen.png);
}

.topSection {
	margin-bottom: 40px;
	display: flex;
	z-index: 10;
}

.logo {
	width: 148px;
	height: 23px;
	margin-left: 40px;
}

.topBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 837px;
	width: 100%;
	margin-left: 127px;
	padding: 41px 90px 26px 90px;

	border-radius: 36px;
	border: 2px solid var(--primary-green);
	background: var(--primary-black);
}

.topTitle {
	color: var(--primary-green);
	text-align: center;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
}

.topData {
	margin-right: 25px;
	align-self: flex-end;
	color: var(--primary-green);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}

.textSection {
	margin-left: 315px;
	z-index: 10;
}

.textTitle {
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	margin-bottom: 20px;
	z-index: 10;
}

.textBlock {
	max-width: 567px;
	width: 100%;
	color: #dbe2f9;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1.2px;
	z-index: 10;
}
