@import '../../../assets/styles/variables.css';

.startScreen {
	position: relative;

	display: flex;
	flex-direction: column;

	background-image: url(../../../../public/images/startScreen.png);
	background-repeat: no-repeat;
	background-size: cover;

	margin: 0 auto;

	max-width: var(--notebook-width);
	min-height: var(--notebook-height);
}

.textSection {
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;

	padding: 0px 128px 0px 25%;
}

.textTitle {
	color: var(--primary-green);
	font-size: 44px;
	font-weight: 700;
	line-height: 44px;
	z-index: 10;
}

.textBlock {
	margin-top: 18px;
	position: relative;
	color: #dbe2f9;
	font-size: 26px;
	line-height: 32px;
	letter-spacing: 1.2px;
	z-index: 10;

	display: flex;
}

.firstP {
	max-width: 840px;
	width: 100%;
}

.firstP img {
	width: 135px;
	height: 85px;
	margin-left: 42px;
}

.secondP {
	max-width: 920px;
	width: 100%;
}

.secondP img {
	width: 116px;
	height: 125px;
	margin-left: 90px;
}

.wrapperBtn {
	margin-top: 10px;
	max-width: 210px;
	width: 100%;
	align-self: flex-end;
}

/* media */
@media (max-width: 1300px) {
	.textTitle {
		font-size: 36px;
	}

	.textBlock {
		margin-top: 12px;
		font-size: 20px;
	}

	.firstP {
		max-width: 740px;
	}

	.secondP {
		max-width: 820px;
	}

	.firstP img {
		width: 115px;
		height: 65px;
		margin-left: 36px;
	}

	.secondP img {
		width: 96px;
		height: 105px;
		margin-left: 83px;
	}
}

@media (max-width: 960px) {
	.wrapperBtn {
		margin-top: 40px;
		align-self: center;
	}

	.textSection {
		padding: 0px 100px;
	}
}

@media (max-width: 700px) {
	.startScreen {
		background-position: center;
	}

	.textSection {
		padding: 0px 50px;
	}

	.textTitle {
		font-size: 24px;
	}

	.firstP img {
		margin-left: 16px;
	}
	.secondP img {
		margin-left: 33px;
	}
}

@media (max-width: 500px) {
	.textSection {
		padding: 0px 30px;
	}

	.textBlock {
		font-size: 18px;
		line-height: 24px;
		letter-spacing: 0.8px;
	}
}

@media (max-width: 420px) {
	.textSection {
		padding: 0px 20px;
	}

	.textBlock {
		font-size: 16px;
	}

	.firstP img {
		width: 95px;
		height: 45px;
		margin-left: 10px;
	}
	.secondP img {
		width: 76px;
		height: 85px;
		margin-left: 20px;
	}
}
