@import '../../../assets/styles/variables.css';

.startScreen {
	padding-top: 40px;
	padding-bottom: 40px;

	display: flex;
	flex-direction: column;

	border-radius: 36px;
	background-image: url(../../../../public/images/startScreen.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.topSection {
	margin-bottom: 40px;
	display: flex;
	z-index: 10;

	padding: 0px 128px 0px 40px;
}

.logo {
	max-width: 148px;
	max-height: 23px;
	width: 100%;
	height: 100%;
	margin-right: 127px;
}

.topBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 837px;
	width: 100%;
	padding: 41px 90px 26px 90px;

	border-radius: 36px;
	border: 2px solid var(--primary-green);
	background: var(--primary-black);
}

.topTitle {
	color: var(--primary-green);
	text-align: center;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
}

.topData {
	margin-right: 25px;
	align-self: flex-end;
	color: var(--primary-green);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}

.textSection {
	z-index: 10;

	display: flex;
	flex-direction: column;

	padding: 0px 15% 0px 25%;
}

.textTitle {
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	z-index: 10;
}

.textBlock {
	margin-top: 12px;
	position: relative;
	color: #dbe2f9;
	font-size: 20px;
	line-height: 32px;
	letter-spacing: 1.2px;
	z-index: 10;

	display: flex;
}

.firstP {
	max-width: 740px;
	width: 100%;
}

.firstP img {
	width: 115px;
	height: 65px;
	margin-left: 36px;
}

.secondP {
	max-width: 820px;
	width: 100%;
}

.secondP img {
	width: 96px;
	height: 105px;
	margin-left: 83px;
}

.wrapperBtn {
	margin-top: 10px;
	max-width: 210px;
	width: 100%;
	align-self: flex-end;
}
