@import '../../../../../assets/styles/variables.css';

.border {
	width: 772px;
	height: 432px;
	border-radius: 4px;
	border: 2px solid#8990a5;
	outline-color: #8990a5;
	outline-width: 2px;
	background-color: #d9d9d9;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 200;
}

.screen {
	width: 740px;
	height: 404px;
	padding: 10px 10px 25px 10px;

	border-radius: 2px;
	border: 2px solid var(--secondary-text-gray-dark);
	background-color: var(--primary-grey);

	display: flex;
}

.listLevels {
	max-width: 490px;
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.itemLevels {
	width: 220px;
	height: 168px;

	margin: 10px;

	border-radius: 5px;
	border: 2.5px solid var(--secondary-text-gray);

	cursor: pointer;
	transition: all 0.3 ease-in-out;
}

.itemLevels:hover {
	border-color: var(--primary-green);
}

.tomatoLevelActive {
	border-color: var(--primary-green);
}

.pepperLevelActive {
	border-color: var(--primary-green);
}

.strawberryLevelActive {
	border-color: var(--primary-green);
}

.itemLevels img {
	width: 100%;
	height: 100%;
	user-select: none;
}

.robot {
	max-width: 230px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}

.robot img {
	max-height: 156px;
	width: 100%;
	height: 100%;
	user-select: none;
}

.btn {
	display: flex;
	padding: 8px 10px;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	border-radius: 8px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-weight: 500;
	line-height: 24px;
	transition: all 0.3 ease-in-out;
}

.btn:hover {
	color: var(--primary-grey);
	background-color: var(--primary-green);
}
