.gameBack {
	position: relative;
	background-image: url(../../../../../../public/images/collectorGameBack.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	width: var(--notebook-width);
	height: var(--notebook-height);
}

.screenWrapper {
	position: absolute;

	top: 87px;
	left: 50%;
	margin-left: -350px;

	transform: scale(1.22);
}

/* media */
@media (max-width: 1580px) {
	.gameBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.screenWrapper {
		position: absolute;
		top: 87px;
		left: 50%;
		margin-left: -350px;

		transform: scale(1.22);
	}

	.numPadTable {
		bottom: 79px;
		left: 199px;
	}

	.bookTable {
		bottom: 40px;
		right: 100px;
	}
}

@media (max-width: 1280px) {
	.gameBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.screenWrapper {
		position: absolute;
		top: 25px;
		left: 50%;
		margin-left: -350px;

		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.gameBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.screenWrapper {
		top: -28px;
		left: 50%;
		margin-left: -367px;

		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.gameBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.screenWrapper {
		top: -70px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.gameBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.screenWrapper {
		top: -97px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.gameBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.screenWrapper {
		top: -120px;
		left: 50%;
		margin-left: -376px;

		transform: scale(0.4);
	}
}
