@import '../../assets/styles/variables.css';

.ratingTable {
	background-image: url(../../../public/images/backgroundRatingTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	/* max-width: 1280px;
	max-height: 660px; */
	/* width: 100%;
	height: 100%; */

	max-width: 1280px;
	min-height: 660px;

	padding-top: 25px;
}

.main {
	margin: 0 auto;
	max-width: 620px;
	width: 100%;

	border-radius: 12px;
	backdrop-filter: blur(3px);
}

.tableWrapper {
	padding: 0px 20px;
}

.tableTitle {
	display: flex;
}

.tableTitle h6 {
	font-weight: 700;
	font-size: 24px;
	line-height: 48px;

	max-width: 322px;
	width: 100%;

	color: var(--secondary-text-gray);
}

.quantityPlayers {
	display: flex;
	align-items: center;
}

.quantityPlayers p {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;

	margin-left: 16px;

	color: var(--primary-green);
}

.iconPlayers {
	width: 28px;
	height: 28px;
}

.tablePlayer {
	display: flex;
	margin-top: 20px;
}

.tablePlayerWrapper {
	display: flex;
}

.tablePlayerId,
.tablePlayerName {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;

	color: var(--primary-green);
}

.tablePlayerId {
	width: 40px;
	margin-right: 8px;
}

.tablePlayerName {
	min-width: 260px;
}

.award {
	display: flex;
	align-items: center;
	margin-left: 14px;
}

.award p {
	margin-left: 10px;

	font-weight: 400;
	font-size: 16px;
	line-height: 32px;

	color: var(--primary-green);
}

.iconAward {
	width: 28px;
	height: 28px;
}

.playerRating {
	width: 80px;
	margin-left: 50px;
	align-items: center;

	font-weight: 400;
	font-size: 16px;
	line-height: 32px;

	color: var(--primary-green);
}

.table {
	margin-top: 20px;
}

.tableTop {
	display: flex;
}

.tableN,
.tableName,
.tableAward,
.tableProfit {
	font-weight: 400;
	font-size: 14px;
	line-height: 32px;

	color: var(--secondary-text-gray);
}

.tableName {
	margin-left: 32px;
}

.tableAward {
	margin-left: 245px;
}

.tableProfit {
	margin-left: 58px;
}

.playerList {
	display: flex;
	flex-direction: column;
	height: 340px;

	overflow: auto;
}

.playerItem {
	display: flex;
	align-items: center;
	height: 41px;

	margin-top: 10px;
	margin-right: 15px;
	padding-bottom: 5px;

	border-bottom: 0.8px solid var(--secondary-text-gray);
}

.playerItemWrapper {
	display: flex;
}

.playerItemId,
.playerItemName {
	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}

.playerItemId {
	width: 40px;
	margin-right: 8px;
}

.playerItemName {
	min-width: 260px;
}

.playerItemAward {
	display: flex;
	align-items: center;
	margin-left: 14px;
}

.playerItemAward p {
	margin-left: 10px;
	margin-right: 10px;

	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}

.iconAward {
	width: 28px;
	height: 28px;
}

.playerItemRating {
	max-width: 80px;
	margin-left: 40px;
	align-items: center;

	font-weight: 400;
	font-size: 16px;
	line-height: 32px;
}

/* media */
@media (max-width: 620px) {
	.tableTitle h6 {
		font-size: 20px;
		max-width: 273px;
	}

	.playerItemName {
		min-width: 210px;
	}

	.tablePlayerName {
		min-width: 210px;
	}

	.tableAward {
		margin-left: 195px;
	}
}

@media (max-width: 560px) {
	.tableTitle h6 {
		font-size: 18px;
		max-width: 213px;
	}

	.playerItemName {
		min-width: 170px;
	}

	.tablePlayerName {
		min-width: 170px;
	}

	.tableAward {
		margin-left: 155px;
	}

	.tablePlayerId,
	.playerItemId {
		width: 22px;
	}

	.tableName {
		margin-left: 14px;
	}

	.tableProfit {
		margin-left: 55px;
	}

	.playerItemRating {
		margin-left: 40px;
	}
}

@media (max-width: 500px) {
	.tableTitle h6 {
		font-size: 16px;
		max-width: 193px;
	}

	.playerItemName {
		min-width: 150px;
	}

	.tablePlayerName {
		min-width: 150px;
	}

	.tableAward {
		margin-left: 135px;
	}

	.tableProfit {
		margin-left: 45px;
	}

	.tablePlayerId,
	.tablePlayerName {
		font-size: 14px;
	}

	.award {
		font-size: 14px;
	}

	.award p {
		font-size: 14px;
	}

	.playerRating {
		font-size: 14px;
	}

	.playerItemId,
	.playerItemName {
		font-size: 14px;
	}

	.playerItemAward {
		font-size: 14px;
	}

	.playerItemAward p {
		font-size: 14px;
	}

	.playerItemRating {
		font-size: 14px;
	}
}

@media (max-width: 380px) {
	.tableWrapper {
		padding: 0px 10px;
	}

	.tableProfit {
		margin-left: 35px;
	}

	.tableTitle h6 {
		font-size: 14px;
		max-width: 173px;
	}

	.playerItemName {
		min-width: 130px;
	}

	.tablePlayerName {
		min-width: 130px;
	}

	.tableAward {
		margin-left: 115px;
	}
}

@media (max-width: 380px) {
	.tableProfit {
		margin-left: 25px;
	}
}
