.gameBack {
	position: relative;
	background-image: url(../../../../../../public/images/collectorGameBack.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	position: relative;
	width: 1280px;
	height: 660px;
}

.screenWrapper {
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -350px;
}
