@import '../../../../../assets/styles/variables.css';

.victoryBlockWrapper {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 620;
	animation: opacity 0.8s;
}

.victoryBlockTomatoLevelWrapper,
.victoryBlockPepperLevelWrapper,
.victoryBlockStrawberryLevelWrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 620;
	animation: opacity 0.8s;
}

.victoryBlockGame,
.victoryBlockTomatoLevel,
.victoryBlockPepperLevel,
.victoryBlockStrawberryLevel {
	padding: 35px 50px;
	max-width: 640px;
	min-height: 510px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	position: absolute;
	z-index: 630;
	transform: scale(1.3);
}

.title {
	color: var(--primary-green);
	font-size: 48px;
	font-weight: 700;
	line-height: 32px;
}

.contentText {
	max-width: 500px;
	margin-top: 25px;
	line-height: 24px;

	color: var(--secondary-text-gray);
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.result {
	margin-top: 25px;
}

.result p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.resultIcon {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.resultIcon p {
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -0.414px;
	margin-left: 16px;
}

.achievement {
	margin-top: 25px;
}

.achievementIcon {
	display: flex;
	align-items: center;
}

.achievementIcon p {
	margin-right: 25px;
}

.achievementName {
	color: var(--primary-green);
	font-size: 18px;
	letter-spacing: -0.414px;
}

.achievementDesc {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
	margin-top: 5px;
}

.btnWrapper {
	display: flex;
	max-width: 600px;
	width: 100%;
	margin-top: 25px;
}

.btnRestart {
	width: 100%;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.btnMap,
.btnMapStrawberry {
	width: 100%;
	margin-left: 20px;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background-color: var(--primary-green);

	color: var(--primary-black);
	font-size: 20px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.btnMapStrawberry {
	margin-left: 0px;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 1620px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(1.3);
	}
}

@media (max-width: 1400px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(1.15);
	}
}

@media (max-width: 1280px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.victoryBlockGame,
	.victoryBlockTomatoLevel,
	.victoryBlockPepperLevel,
	.victoryBlockStrawberryLevel {
		transform: scale(0.4);
	}
}
