.wrapper {
	position: absolute;
	left: 200px;
	bottom: 140px;
	bottom: 170px;
	z-index: 100;
}

.columns {
	display: flex;
	justify-content: space-between;
	width: 400px;
}

.flasksBox {
	display: flex;
}

.blueFlask {
	width: 30px;
	height: 87px;

	background-image: url(../../../../../../../public/images/blueFlask.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;
}

.greenFlask {
	width: 30px;
	height: 87px;

	background-image: url(../../../../../../../public/images/greenFlask.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;
}

.magic {
	width: 150px;
	height: 150px;

	background-color: aqua;
}
