@import '../../../../assets/styles/variables.css';

.linkButton {
	display: flex;
	justify-content: center;
	align-items: center;

	min-width: 70px;

	padding: 8px 20px;

	border-radius: 8px;
	border: 2px solid var(--primary-green);

	color: var(--secondary-text-gray);
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;

	cursor: pointer;
}

.available {
	color: var(--primary-green);
	line-height: 24px;
}
