@import '../../../../assets/styles/variables.css';

.topSectionRating {
	display: flex;
	justify-content: space-between;
	z-index: 10;

	padding: 0px 128px 0px 40px;
}

.logo {
	max-width: 148px;
	max-height: 23px;
	width: 100%;
	height: 100%;
	margin-right: 50px;
}

.topBlock {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 0px 90px 0px 0px;
}

.topTitle {
	color: var(--primary-green);
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;

	text-align: center;
}

.topData {
	color: var(--primary-green);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;

	width: 100%;
}

/* media */
@media (max-width: 960px) {
	.topSectionRating {
		flex-direction: column;
		padding: 0px 70px;
	}

	.topBlock {
		margin-top: 30px;
		padding: 41px 70px 26px 70px;
	}

	.logo {
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	.topSectionRating {
		padding: 0px 40px;
	}

	.topTitle {
		font-size: 54px;
		line-height: 64px;
	}

	.topData {
		font-size: 26px;
		align-self: center;
		margin-right: 0px;
	}
}

@media (max-width: 500px) {
	.topSectionRating {
		padding: 0px 30px;
	}

	.topBlock {
		margin-top: 30px;
		padding: 20px 30px 20px 30px;
	}

	.topTitle {
		font-size: 40px;
	}

	.topData {
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	.topSectionRating {
		padding: 0px 20px;
	}
}
