@import '../../../../../assets/styles/variables.css';

.bonusBlockWrapper {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;
}

.bonusBlock {
	padding: 42px 30px;
	max-width: 650px;
	min-height: 320px;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	z-index: 130;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
}

.contentText {
	max-width: 570px;
	margin-bottom: 25px;
	text-align: center;

	line-height: 36px;
	color: var(--secondary-text-gray);
	font-size: 24px;
	font-weight: 400;
}

.balance {
	margin-bottom: 25px;
}

.balance p {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.414px;
}

.balanceIcon {
	margin-top: 5px;
	display: flex;
	align-items: center;
}

.balanceIcon p {
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: -0.414px;
	margin-left: 16px;
}

.btnWrapper {
	display: flex;
	max-width: 620px;
	width: 100%;
}

.skipBtn {
	width: 100%;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.payMariaBtn {
	width: 100%;
	margin-left: 20px;
	padding: 14px 26px;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background-color: var(--primary-green);

	color: var(--primary-black);
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

.btnMap {
	width: 250px;
	padding: 14px 26px;
	margin: 0 auto;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 12px;
	background-color: var(--primary-green);

	color: var(--primary-black);
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	cursor: pointer;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 1248px) {
	.bonusBlock {
		transform: scale(0.8);
	}
}

@media (max-width: 1078px) {
	.bonusBlock {
		transform: scale(0.6);
	}
}
