@import '../../../assets/styles/variables.css';

.startBlock {
	position: relative;
	max-width: 630px;
	width: 100%;
	min-height: 430px;
	padding: 90px;

	display: flex;
	flex-direction: column;

	border-radius: 24px;
	background: linear-gradient(302deg, #1e4e4e 16.05%, #1f2431 75.16%);
}

.startBlock:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 330px;
	height: 290px;
	background-image: url(../../../../public/images/electroshema.png);
	background-repeat: no-repeat;
	border-top-left-radius: 24px;
	z-index: 0;
}

.form {
	display: flex;
	flex-direction: column;
	z-index: 20;
}

.label {
	margin-bottom: 48px;
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	z-index: 20;
}

.input {
	max-width: 446px;
	height: 40px;
	border-radius: 8px;
	border: 2px solid var(--primary-green);
	padding: 2px 15px;
	color: var(--secondary-text-gray);
}

.inputError {
	border: 2px solid var(--secondary-hover-red);
}

.wrapperBtn {
	margin-top: 48px;
	max-width: 230px;
	width: 100%;
	align-self: flex-end;
	z-index: 20;
}

.btnForm {
	width: 100%;
	padding: 14px 40px;
	text-align: center;

	border-radius: 12px;
	background: var(--primary-green);

	color: var(--primary-grey);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;

	cursor: pointer;
}

.btnFormNonActive {
	opacity: 0.5;
	cursor: not-allowed;
}

.spinnerWrapper {
	width: 140px;
	height: 140px;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.uniqueNames {
	display: flex;
	margin: 10px auto 0px;
}

.uniqueName {
	padding: 2px 10px;
	margin: 0px 5px;

	border: 1px solid var(--primary-green);
	border-radius: 8px;
	color: var(--primary-green);

	cursor: pointer;
}

/* media */
@media (max-width: 760px) {
	.startBlock {
		max-width: 480px;
		min-height: 230px;
		padding: 60px;
	}

	.wrapperBtn {
		align-self: center;
	}
}

@media (max-width: 600px) {
	.startBlock {
		max-width: 380px;
	}

	.startBlock:before {
		width: 240px;
		height: 200px;
		background-size: contain;
	}

	.label {
		font-size: 28px;
		line-height: 32px;
	}

	.wrapperBtn {
		margin-top: 38px;
		max-width: 160px;
	}
}

@media (max-width: 460px) {
	.startBlock {
		padding: 40px;
		max-width: 320px;
		min-height: 300px;
	}

	.label {
		font-size: 20px;
	}
}

@media (max-width: 380px) {
	.startBlock {
		padding: 35px;
		max-width: 280px;
		min-height: 280px;
	}
}
