@import '../../../../assets/styles/variables.css';

.btn {
	width: 100%;
	padding: 14px 40px;
	text-align: center;

	border-radius: 12px;
	background: var(--primary-green);

	color: var(--primary-grey);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

/* media */
@media (max-width: 1044px) {
	.btn {
		padding: 14px 20px;
		font-size: 18px;
	}
}

@media (max-width: 788px) {
	.btn {
		padding: 12px 18px;
		font-size: 16px;
	}
}
