@import '../../assets/styles/variables.css';

.mainWrapper {
	position: relative;
	min-height: 100%;
}

.contentWrapper {
	max-width: var(--desktop-width);
	max-height: var(--desktop-height);
	width: 100%;
	height: 100%;

	padding: 5px;
	margin: 0 auto;
}

/* @media (max-width: 1044px) {
	.contentWrapper {
		margin: 0 auto;
		transform: scale(0.9);
	}
} */

/* @media (max-width: 1044px) {
	.contentWrapper {
		max-width: var(--tablet-width);
		max-height: var(--tablet-height);
	}
}

@media (max-width: 788px) {
	.contentWrapper {
		max-width: var(--tablet-mobile-width);
		max-height: var(--tablet-mobile-height);
	}
} */

/* @media (max-width: 532px) {
	.contentWrapper {
		max-width: var(--mobile-width);
		max-height: var(--mobile-height);
	}
} */
