@import '../../assets/styles/variables.css';

.mainWrapper {
	position: relative;
	min-height: 100%;
}

.contentWrapper {
	max-width: var(--desktop-width);
	max-height: var(--desktop-height);
	width: 100%;
	height: 100%;

	padding: 10px;
	margin: 0 auto;
}
