@import '../../assets/styles/variables.css';

.mainWrapper {
	position: relative;
	min-height: 100%;
}

.contentWrapper {
	max-width: var(--notebook-width);
	max-height: var(--notebook-height);

	width: 100%;
	height: 100%;

	padding: 2px;
	margin: 0 auto;
}

/* media */
@media (max-width: 1620px) {
	.contentWrapper {
		max-width: var(--notebook-width);
		max-height: var(--notebook-height);
	}
}

@media (max-width: 1280px) {
	.contentWrapper {
		max-width: var(--desktop-width);
		max-height: var(--desktop-height);
	}
}

@media (max-width: 1248px) {
	.contentWrapper {
		max-width: var(--tablet-width);
		max-height: var(--tablet-height);
	}
}

@media (max-width: 1168px) {
	.contentWrapper {
		max-width: var(--tablet-mobile-width);
		max-height: var(--tablet-mobile-height);
	}
}

@media (max-width: 920px) {
	.contentWrapper {
		max-width: var(--middle-mobile-width);
		max-height: var(--middle-mobile-height);
	}
}

@media (max-width: 770px) {
	.contentWrapper {
		max-width: var(--mobile-width);
		max-height: var(--mobile-height);
	}
}
