@import '../../../../../assets/styles/variables.css';

.navBarGameGenetic {
	position: relative;
	width: var(--desktop-width);
	height: var(--desktop-height);
	margin: 0 auto;
}

.navigationLevelsWrapper {
	position: absolute;
	bottom: 210px;
	left: 24px;
	z-index: 120;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 120;
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 120;
}

.blockButtonPoints {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 120;
}

.mapGame {
	width: 100%;
	height: 100%;
}

@media (max-width: 1044px) {
	.navBarGameGenetic {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		transform: scale(0.8);
	}

	.exitButtonWrapper {
		bottom: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		top: 108px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		transform: scale(0.8);
	}
}

@media (max-width: 778px) {
	.navBarGameGenetic {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: 0px;
		right: 6px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		top: 68px;
		right: 6px;
		transform: scale(0.6);
	}

	.exitButtonWrapper {
		left: 10px;
		bottom: 0px;
		transform: scale(0.6);
	}

	.navigationLevelsWrapper {
		left: 10px;
		bottom: 120px;
		transform: scale(0.6);
	}
}

/* @media (max-width: 760px) {
	.navBarGameCollector {
		margin: 0 auto;
		zoom: var(--zoom-mobile-mini);
	}
}

@media (max-width: 600px) {
	.navBarGameCollector {
		margin: 0 auto;
		zoom: var(--zoom-mobile-ultra-mini);
	}
} */
