@import '../../../../../assets/styles/variables.css';

.navBarGameGenetic {
	position: relative;
	width: var(--desktop-width);
	height: var(--desktop-height);
	margin: 0 auto;
}

.navigationLevelsWrapper {
	position: absolute;
	bottom: 210px;
	left: 24px;
	z-index: 120;
}

.exitButtonWrapper {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 120;
}

.exitBtnLeave {
	width: 86px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 120;
}

.blockButtonPoints {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 120;
}

.mapGame {
	width: 100%;
	height: 100%;
}

@media (max-width: 1280px) {
	.navBarGameGenetic {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		bottom: 210px;
		left: 24px;
		transform: scale(1);
	}

	.exitButtonWrapper {
		bottom: 24px;
		left: 24px;
		transform: scale(1);
	}

	.blockButtonPoints {
		top: 128px;
		right: 24px;
		transform: scale(1);
	}

	.blockButtonWallet {
		top: 24px;
		right: 24px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.navBarGameGenetic {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.navigationLevelsWrapper {
		transform: scale(0.8);
	}

	.exitButtonWrapper {
		bottom: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		top: 108px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBarGameGenetic {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: 0px;
		right: 6px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		top: 68px;
		right: 6px;
		transform: scale(0.6);
	}

	.exitButtonWrapper {
		left: 10px;
		bottom: 0px;
		transform: scale(0.6);
	}

	.navigationLevelsWrapper {
		left: 10px;
		bottom: 120px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBarGameGenetic {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -25px;
		transform: scale(0.5);
	}

	.blockButtonPoints {
		top: 30px;
		right: -25px;
		transform: scale(0.5);
	}

	.exitButtonWrapper {
		left: -4px;
		bottom: -10px;
		transform: scale(0.5);
	}

	.navigationLevelsWrapper {
		left: -4px;
		bottom: 51px;
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.navBarGameGenetic {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.blockButtonWallet {
		top: -15px;
		right: -25px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		top: 30px;
		right: -25px;
		transform: scale(0.4);
	}

	.exitButtonWrapper {
		left: -4px;
		bottom: -10px;
		transform: scale(0.4);
	}

	.navigationLevelsWrapper {
		left: -4px;
		bottom: 51px;
		transform: scale(0.4);
	}
}
