@import '../../../../../assets/styles/variables.css';

.blackScreen {
	background-color: #000000;
	border: 12px solid #000000;
	outline: 4px solid #000000;
	border-radius: 4px;

	width: 100%;
	height: 100%;
	z-index: 220;
	position: absolute;
	display: block;

	animation: opacity 2.5s;
}

.blackScreenNon {
	display: none;
}

.gameWrapper {
	max-width: 1280px;
	max-height: 660px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #000000;
	z-index: 200;
}

.border {
	width: 1272px;
	height: 660px;

	border-radius: 4px;
	border: 12px solid #d9d9d9;
	outline: 4px solid #8990a5;

	background-color: transparent;

	z-index: 110;
}

.gameField {
	border: 4px solid #8990a5;
	background-color: var(--primary-black);

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
}

.decorations {
	background-repeat: no-repeat;
	background-size: contain;

	max-width: 185px;
	width: 100%;
	height: 100%;
}

.left {
	background-image: url(../../../../../../public/images/tomatoLeftDecorations.svg);
	background-position: top;
}

.right {
	background-image: url(../../../../../../public/images/tomatoRightDecorations.svg);
	background-position: center;
}

.cellWrapper {
	max-width: 810px;
	max-height: 620px;
	width: 100%;
	height: 100%;

	margin: auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cell {
	position: relative;

	width: 62px;
	height: 62px;

	/* background-color: #8990a5;
	border: 1px solid #000; */
}

.isTomatoGreen {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-image: url(../../../../../../public/images/tomatoGreen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	animation: gravityTomato 0.7s;
}

.isTomatoRed {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-image: url(../../../../../../public/images/tomatoRed.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	animation: gravityTomato 0.7s;
}

.isTomatoDarkGreen {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-image: url(../../../../../../public/images/tomatoDarkGreen.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	animation: gravityTomato 0.7s;
}

.isCollector {
	position: absolute;
	top: -62px;
	left: -31px;

	width: 124px;
	height: 124px;
	z-index: 100;

	background-image: url(../../../../../../public/images/collectorDrone.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.isCollectorMovedLeft {
	animation: moveCollectorLeft 0.09s;
}

.isCollectorMovedRight {
	animation: moveCollectorRight 0.09s;
}

/* animations */
@keyframes opacity {
	0% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* animations */
@keyframes gravityTomato {
	0% {
		top: 1px;
	}

	5% {
		top: 4px;
	}

	10% {
		top: 8px;
	}

	15% {
		top: 11px;
	}

	20% {
		top: 14px;
	}

	25% {
		top: 17px;
	}

	30% {
		top: 20px;
	}

	35% {
		top: 23px;
	}

	40% {
		top: 26px;
	}

	45% {
		top: 29px;
	}

	50% {
		top: 32px;
	}

	55% {
		top: 35px;
	}

	60% {
		top: 38px;
	}

	65% {
		top: 41px;
	}

	70% {
		top: 44px;
	}

	75% {
		top: 47px;
	}

	80% {
		top: 50px;
	}

	85% {
		top: 53px;
	}

	90% {
		top: 56px;
	}

	95% {
		top: 59px;
	}

	100% {
		top: 62px;
	}
}

@keyframes moveCollectorLeft {
	0% {
		left: 31px;
	}

	100% {
		left: -31px;
	}
}

@keyframes moveCollectorRight {
	0% {
		left: -93px;
	}

	100% {
		left: -31px;
	}
}

/* @keyframes moveCollectorLeft {
	0% {
		left: 31px;
	}

	5% {
		left: 28px;
	}

	10% {
		left: 25px;
	}

	15% {
		left: 22px;
	}

	20% {
		left: 19px;
	}

	25% {
		left: 16px;
	}

	30% {
		left: 13px;
	}

	35% {
		left: 10px;
	}

	40% {
		left: 7px;
	}

	45% {
		left: 4px;
	}

	50% {
		left: 1px;
	}

	55% {
		left: -2px;
	}

	60% {
		left: -5px;
	}

	65% {
		left: -8px;
	}

	70% {
		left: -11px;
	}

	75% {
		left: -14px;
	}

	80% {
		left: -17px;
	}

	85% {
		left: -20px;
	}

	90% {
		left: -23px;
	}

	95% {
		left: -26px;
	}

	100% {
		left: -31px;
	}
}

@keyframes moveCollectorRight {
	0% {
		left: -93px;
	}

	5% {
		left: -90px;
	}

	10% {
		left: -87px;
	}

	15% {
		left: -84px;
	}

	20% {
		left: -81px;
	}

	25% {
		left: -78px;
	}

	30% {
		left: -75px;
	}

	35% {
		left: -72px;
	}

	40% {
		left: -69px;
	}

	45% {
		left: -66px;
	}

	50% {
		left: -63px;
	}

	55% {
		left: -60px;
	}

	60% {
		left: -57px;
	}

	65% {
		left: -54px;
	}

	70% {
		left: -51px;
	}

	75% {
		left: -48px;
	}

	80% {
		left: -45px;
	}

	85% {
		left: -42px;
	}

	90% {
		left: -39px;
	}

	95% {
		left: -36px;
	}

	100% {
		left: -31px;
	}
} */

/* @keyframes gravityTomato {
	0% {
		top: 0px;
	}

	100% {
		top: 62px;
	}
} */
