@import '../../../../../assets/styles/variables.css';

.blackScreen {
	background-color: #000000;
	border: 12px solid #000000;
	outline: 4px solid #000000;
	border-radius: 4px;

	width: 100%;
	height: 100%;
	z-index: 220;
	position: absolute;
	display: block;

	animation: opacity 2.5s;
}

.blackScreenNon {
	display: none;
}

.gameWrapper {
	position: relative;
	max-width: var(--notebook-width);
	max-height: var(--notebook-height);

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: #000000;
	z-index: 200;
}

.border {
	width: var(--notebook-width);
	height: var(--notebook-height);

	border-radius: 4px;
	border: 12px solid #d9d9d9;
	outline: 4px solid #8990a5;

	background-color: transparent;

	z-index: 110;
}

.gameField {
	border: 4px solid #8990a5;
	background-color: var(--primary-black);

	width: 100%;
	height: 100%;

	display: flex;
	justify-content: space-between;
}

.decorations {
	background-repeat: no-repeat;
	background-size: contain;

	max-width: 230px;
	width: 100%;
	height: 100%;
}

.leftTomato {
	background-image: url(../../../../../../public/images/tomatoLeftDecorations.svg);
	background-position: top;
}

.rightTomato {
	background-image: url(../../../../../../public/images/tomatoRightDecorations.svg);
	background-position: center;
}

.leftPepper {
	background-image: url(../../../../../../public/images/pepperLeftDecorations.svg);
	background-position: top;
}

.rightPepper {
	background-image: url(../../../../../../public/images/pepperRightDecorations.svg);
	background-position: center;
}

.leftStrawberry {
	background-image: url(../../../../../../public/images/strawberryLeftDecorations.svg);
	background-position: top;
}

.rightStrawberry {
	background-image: url(../../../../../../public/images/strawberryRightDecorations.svg);
	background-position: center;
}

.cellWrapper {
	max-width: 810px;
	max-height: 620px;
	width: 100%;
	height: 100%;

	margin: auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	transform: scale(1.2);
}

.cell {
	position: relative;

	width: 62px;
	height: 62px;

	/* background-color: #8990a5;
	border: 1px solid #000; */
}

.isTomatoGreen,
.isPepperGreen,
.isStrawberryGreen {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.isTomatoGreen {
	background-image: url(../../../../../../public/images/tomatoGreen.svg);
	animation: gravityTomato 0.7s;
}

.isPepperGreen {
	background-image: url(../../../../../../public/images/pepperGreen.svg);
	animation: gravityTomato 0.6s;
}

.isStrawberryGreen {
	background-image: url(../../../../../../public/images/strawberryGreen.svg);
	animation: gravityTomato 0.5s;
}

.isTomatoRed,
.isPepperRed,
.isStrawberryRed {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.isTomatoRed {
	background-image: url(../../../../../../public/images/tomatoRed.svg);
	animation: gravityTomato 0.7s;
}

.isPepperRed {
	background-image: url(../../../../../../public/images/pepperRed.svg);
	animation: gravityTomato 0.6s;
}

.isStrawberryRed {
	background-image: url(../../../../../../public/images/strawberryRed.svg);
	animation: gravityTomato 0.5s;
}

.isTomatoDarkGreen,
.isPepperDarkGreen,
.isStrawberryDarkGreen {
	position: relative;
	top: 62px;

	width: 62px;
	height: 62px;
	z-index: 100;

	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.isTomatoDarkGreen {
	background-image: url(../../../../../../public/images/tomatoDarkGreen.svg);
	animation: gravityTomato 0.7s;
}

.isPepperDarkGreen {
	background-image: url(../../../../../../public/images/pepperDarkGreen.svg);
	animation: gravityTomato 0.6s;
}

.isStrawberryDarkGreen {
	background-image: url(../../../../../../public/images/strawberryDarkGreen.svg);
	animation: gravityTomato 0.5s;
}

.isCollector {
	position: absolute;
	top: -62px;
	left: -31px;

	width: 124px;
	height: 124px;
	z-index: 100;

	background-image: url(../../../../../../public/images/collectorDrone.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.isCollectorMovedLeft {
	animation: moveCollectorLeft 0.09s;
}

.isCollectorMovedRight {
	animation: moveCollectorRight 0.09s;
}

.mobileScreen {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	z-index: 550;
}

.mobileLeft {
	width: 100%;
	height: 100%;
}

.mobileRight {
	width: 100%;
	height: 100%;
}

/* animations */
@keyframes opacity {
	0% {
		opacity: 1;
	}

	15% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

/* animations */
@keyframes gravityTomato {
	0% {
		top: 1px;
	}

	3% {
		top: 3px;
	}

	5% {
		top: 4px;
	}

	8% {
		top: 7px;
	}

	10% {
		top: 8px;
	}

	13% {
		top: 10px;
	}

	15% {
		top: 11px;
	}

	18% {
		top: 13px;
	}

	20% {
		top: 14px;
	}

	23% {
		top: 16px;
	}

	25% {
		top: 17px;
	}

	28% {
		top: 19px;
	}

	30% {
		top: 20px;
	}

	33% {
		top: 22px;
	}

	35% {
		top: 23px;
	}

	38% {
		top: 25px;
	}

	40% {
		top: 26px;
	}

	43% {
		top: 28px;
	}

	45% {
		top: 29px;
	}

	48% {
		top: 31px;
	}

	50% {
		top: 32px;
	}

	53% {
		top: 34px;
	}

	55% {
		top: 35px;
	}

	58% {
		top: 37px;
	}

	60% {
		top: 38px;
	}

	63% {
		top: 40px;
	}

	65% {
		top: 41px;
	}

	68% {
		top: 43px;
	}

	70% {
		top: 44px;
	}

	73% {
		top: 46px;
	}

	75% {
		top: 47px;
	}

	78% {
		top: 49px;
	}

	80% {
		top: 50px;
	}

	83% {
		top: 52px;
	}

	85% {
		top: 53px;
	}

	88% {
		top: 55px;
	}

	90% {
		top: 56px;
	}

	93% {
		top: 58px;
	}

	95% {
		top: 59px;
	}

	98% {
		top: 61px;
	}

	100% {
		top: 62px;
	}
}

@keyframes gravityTomatoTablet {
	0% {
		top: 1px;
	}

	2% {
		top: 2px;
	}

	3% {
		top: 3px;
	}

	4% {
		top: 4px;
	}

	6% {
		top: 5px;
	}

	8% {
		top: 6px;
	}

	10% {
		top: 7px;
	}

	12% {
		top: 8px;
	}

	14% {
		top: 9px;
	}

	16% {
		top: 10px;
	}

	20% {
		top: 11px;
	}

	22% {
		top: 12px;
	}

	24% {
		top: 13px;
	}

	28% {
		top: 14px;
	}

	30% {
		top: 15px;
	}

	32% {
		top: 16px;
	}

	36% {
		top: 17px;
	}

	38% {
		top: 18px;
	}

	40% {
		top: 19px;
	}

	44% {
		top: 20px;
	}

	46% {
		top: 21px;
	}

	48% {
		top: 22px;
	}

	52% {
		top: 23px;
	}

	54% {
		top: 24px;
	}

	56% {
		top: 25px;
	}

	60% {
		top: 26px;
	}

	62% {
		top: 27px;
	}

	64% {
		top: 28px;
	}

	68% {
		top: 29px;
	}

	70% {
		top: 30px;
	}

	72% {
		top: 31px;
	}

	76% {
		top: 32px;
	}

	78% {
		top: 33px;
	}

	80% {
		top: 34px;
	}

	84% {
		top: 35px;
	}

	86% {
		top: 36px;
	}

	88% {
		top: 37px;
	}

	92% {
		top: 38px;
	}

	94% {
		top: 39px;
	}

	96% {
		top: 40px;
	}

	100% {
		top: 41px;
	}
}

@keyframes gravityTomatoTabletMobile {
	0% {
		top: 1px;
	}

	1% {
		top: 2px;
	}

	4% {
		top: 3px;
	}

	7% {
		top: 4px;
	}

	10% {
		top: 5px;
	}

	13% {
		top: 6px;
	}

	16% {
		top: 7px;
	}

	19% {
		top: 8px;
	}

	22% {
		top: 9px;
	}

	25% {
		top: 10px;
	}

	28% {
		top: 11px;
	}

	31% {
		top: 12px;
	}

	34% {
		top: 13px;
	}

	37% {
		top: 14px;
	}

	40% {
		top: 15px;
	}

	43% {
		top: 16px;
	}

	46% {
		top: 17px;
	}

	49% {
		top: 18px;
	}

	52% {
		top: 19px;
	}

	55% {
		top: 20px;
	}

	58% {
		top: 21px;
	}

	61% {
		top: 22px;
	}

	64% {
		top: 23px;
	}

	67% {
		top: 24px;
	}

	70% {
		top: 25px;
	}

	73% {
		top: 26px;
	}

	76% {
		top: 27px;
	}

	79% {
		top: 28px;
	}

	82% {
		top: 29px;
	}

	85% {
		top: 30px;
	}

	88% {
		top: 31px;
	}

	91% {
		top: 32px;
	}

	94% {
		top: 33px;
	}

	97% {
		top: 34px;
	}

	100% {
		top: 35px;
	}
}

@keyframes gravityTomatoMiddleMobile {
	0% {
		top: 1px;
	}

	2% {
		top: 2px;
	}

	5% {
		top: 3px;
	}

	7% {
		top: 4px;
	}

	10% {
		top: 5px;
	}

	14% {
		top: 6px;
	}

	18% {
		top: 7px;
	}

	22% {
		top: 8px;
	}

	26% {
		top: 9px;
	}

	30% {
		top: 10px;
	}

	34% {
		top: 11px;
	}

	39% {
		top: 12px;
	}

	42% {
		top: 13px;
	}

	47% {
		top: 14px;
	}

	50% {
		top: 15px;
	}

	55% {
		top: 16px;
	}

	58% {
		top: 17px;
	}

	62% {
		top: 18px;
	}

	65% {
		top: 19px;
	}

	68% {
		top: 20px;
	}

	72% {
		top: 21px;
	}

	75% {
		top: 22px;
	}

	79% {
		top: 23px;
	}

	82% {
		top: 24px;
	}

	85% {
		top: 25px;
	}

	89% {
		top: 26px;
	}

	92% {
		top: 27px;
	}

	96% {
		top: 28px;
	}

	100% {
		top: 29px;
	}
}

@keyframes gravityTomatoMobile {
	0% {
		top: 1px;
	}

	3% {
		top: 2px;
	}

	7% {
		top: 3px;
	}

	11% {
		top: 4px;
	}

	15% {
		top: 5px;
	}

	21% {
		top: 6px;
	}

	26% {
		top: 7px;
	}

	31% {
		top: 8px;
	}

	35% {
		top: 9px;
	}

	41% {
		top: 10px;
	}

	46% {
		top: 11px;
	}

	50% {
		top: 12px;
	}

	55% {
		top: 13px;
	}

	60% {
		top: 14px;
	}

	64% {
		top: 15px;
	}

	69% {
		top: 16px;
	}

	73% {
		top: 17px;
	}

	78% {
		top: 18px;
	}

	82% {
		top: 19px;
	}

	87% {
		top: 20px;
	}

	91% {
		top: 21px;
	}

	96% {
		top: 22px;
	}

	100% {
		top: 23px;
	}
}

/* @keyframes gravityTomato {
	0% {
		top: 1px;
	}

	5% {
		top: 4px;
	}

	10% {
		top: 8px;
	}

	15% {
		top: 11px;
	}

	20% {
		top: 14px;
	}

	25% {
		top: 17px;
	}

	30% {
		top: 20px;
	}

	35% {
		top: 23px;
	}

	40% {
		top: 26px;
	}

	45% {
		top: 29px;
	}

	50% {
		top: 32px;
	}

	55% {
		top: 35px;
	}

	60% {
		top: 38px;
	}

	65% {
		top: 41px;
	}

	70% {
		top: 44px;
	}

	75% {
		top: 47px;
	}

	80% {
		top: 50px;
	}

	85% {
		top: 53px;
	}

	90% {
		top: 56px;
	}

	95% {
		top: 59px;
	}

	100% {
		top: 62px;
	}
} */

@keyframes moveCollectorLeft {
	0% {
		left: 31px;
	}

	100% {
		left: -31px;
	}
}

@keyframes moveCollectorRight {
	0% {
		left: -93px;
	}

	100% {
		left: -31px;
	}
}

@keyframes moveCollectorLeftTablet {
	0% {
		left: 20.5px;
	}

	100% {
		left: -20.5px;
	}
}

@keyframes moveCollectorRightTablet {
	0% {
		left: -61.5px;
	}

	100% {
		left: -20.5px;
	}
}

@keyframes moveCollectorLeftTabletMobile {
	0% {
		left: 17.5px;
	}

	100% {
		left: -17.5px;
	}
}

@keyframes moveCollectorRightTabletMobile {
	0% {
		left: -52.5px;
	}

	100% {
		left: -17.5px;
	}
}

@keyframes moveCollectorLeftMiddleMobile {
	0% {
		left: 14.5px;
	}

	100% {
		left: -14.5px;
	}
}

@keyframes moveCollectorRightMiddleMobile {
	0% {
		left: -43.5px;
	}

	100% {
		left: -14.5px;
	}
}

@keyframes moveCollectorLeftMobile {
	0% {
		left: 11.5px;
	}

	100% {
		left: -11.5px;
	}
}

@keyframes moveCollectorRightMobile {
	0% {
		left: -34.5px;
	}

	100% {
		left: -11.5px;
	}
}

/* @keyframes moveCollectorLeft {
	0% {
		left: 31px;
	}

	5% {
		left: 28px;
	}

	10% {
		left: 25px;
	}

	15% {
		left: 22px;
	}

	20% {
		left: 19px;
	}

	25% {
		left: 16px;
	}

	30% {
		left: 13px;
	}

	35% {
		left: 10px;
	}

	40% {
		left: 7px;
	}

	45% {
		left: 4px;
	}

	50% {
		left: 1px;
	}

	55% {
		left: -2px;
	}

	60% {
		left: -5px;
	}

	65% {
		left: -8px;
	}

	70% {
		left: -11px;
	}

	75% {
		left: -14px;
	}

	80% {
		left: -17px;
	}

	85% {
		left: -20px;
	}

	90% {
		left: -23px;
	}

	95% {
		left: -26px;
	}

	100% {
		left: -31px;
	}
}

@keyframes moveCollectorRight {
	0% {
		left: -93px;
	}

	5% {
		left: -90px;
	}

	10% {
		left: -87px;
	}

	15% {
		left: -84px;
	}

	20% {
		left: -81px;
	}

	25% {
		left: -78px;
	}

	30% {
		left: -75px;
	}

	35% {
		left: -72px;
	}

	40% {
		left: -69px;
	}

	45% {
		left: -66px;
	}

	50% {
		left: -63px;
	}

	55% {
		left: -60px;
	}

	60% {
		left: -57px;
	}

	65% {
		left: -54px;
	}

	70% {
		left: -51px;
	}

	75% {
		left: -48px;
	}

	80% {
		left: -45px;
	}

	85% {
		left: -42px;
	}

	90% {
		left: -39px;
	}

	95% {
		left: -36px;
	}

	100% {
		left: -31px;
	}
} */

/* @keyframes gravityTomato {
	0% {
		top: 0px;
	}

	100% {
		top: 62px;
	}
} */

/* media */
/* @media (max-width: 1000px) {
	.mobileScreen {
		display: block;
	}
} */

/* media */
@media (max-width: 1620px) {
	.gameWrapper {
		max-width: var(--notebook-width);
		max-height: var(--notebook-height);
	}

	.border {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.cell {
		width: 62px;
		height: 62px;
	}
}

@media (max-width: 1280px) {
	.gameWrapper {
		max-width: var(--desktop-width);
		max-height: var(--desktop-height);
	}

	.border {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.decorations {
		max-width: 180px;
	}

	.cellWrapper {
		transform: scale(0.95);
	}

	.cell {
		width: 60px;
		height: 60px;
	}
}

@media (max-width: 1248px) {
	.gameWrapper {
		max-width: var(--tablet-width);
		max-height: var(--tablet-height);
	}

	.border {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.decorations {
		max-width: 160px;
	}

	.cellWrapper {
		max-width: 538px;
		max-height: 410px;
		transform: scale(1.2);
	}

	.cell {
		width: 41px;
		height: 41px;
	}

	.isTomatoGreen,
	.isPepperGreen,
	.isStrawberryGreen {
		top: 41px;

		width: 41px;
		height: 41px;
	}

	.isTomatoDarkGreen,
	.isPepperDarkGreen,
	.isStrawberryDarkGreen {
		top: 41px;

		width: 41px;
		height: 41px;
	}

	.isTomatoRed,
	.isPepperRed,
	.isStrawberryRed {
		top: 41px;

		width: 41px;
		height: 41px;
	}

	.isTomatoGreen {
		animation: gravityTomatoTablet 0.7s;
	}

	.isTomatoRed {
		animation: gravityTomatoTablet 0.7s;
	}

	.isTomatoDarkGreen {
		animation: gravityTomatoTablet 0.7s;
	}

	.isPepperGreen {
		animation: gravityTomatoTablet 0.6s;
	}

	.isPepperRed {
		animation: gravityTomatoTablet 0.6s;
	}

	.isPepperDarkGreen {
		animation: gravityTomatoTablet 0.6s;
	}

	.isStrawberryGreen {
		animation: gravityTomatoTablet 0.5s;
	}

	.isStrawberryRed {
		animation: gravityTomatoTablet 0.5s;
	}

	.isStrawberryDarkGreen {
		animation: gravityTomatoTablet 0.5s;
	}

	.isCollector {
		position: absolute;
		top: -41px;
		left: -20.5px;

		width: 82px;
		height: 82px;
	}

	.isCollectorMovedLeft {
		animation: moveCollectorLeftTablet 0.09s;
	}

	.isCollectorMovedRight {
		animation: moveCollectorRightTablet 0.09s;
	}
}

@media (max-width: 1168px) {
	.gameWrapper {
		max-width: var(--tablet-mobile-width);
		max-height: var(--tablet-mobile-height);
	}

	.border {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.decorations {
		max-width: 140px;
	}

	.cellWrapper {
		max-width: 470px;
		max-height: 350px;
		transform: scale(1);
	}

	.cell {
		width: 35px;
		height: 35px;
	}

	.isTomatoGreen,
	.isPepperGreen,
	.isStrawberryGreen {
		top: 35px;

		width: 35px;
		height: 35px;
	}

	.isTomatoDarkGreen,
	.isPepperDarkGreen,
	.isStrawberryDarkGreen {
		top: 35px;

		width: 35px;
		height: 35px;
	}

	.isTomatoRed,
	.isPepperRed,
	.isStrawberryRed {
		top: 35px;

		width: 35px;
		height: 35px;
	}

	.isTomatoGreen {
		animation: gravityTomatoTabletMobile 0.7s;
	}

	.isTomatoRed {
		animation: gravityTomatoTabletMobile 0.7s;
	}

	.isTomatoDarkGreen {
		animation: gravityTomatoTabletMobile 0.7s;
	}

	.isPepperGreen {
		animation: gravityTomatoTabletMobile 0.6s;
	}

	.isPepperRed {
		animation: gravityTomatoTabletMobile 0.6s;
	}

	.isPepperDarkGreen {
		animation: gravityTomatoTabletMobile 0.6s;
	}

	.isStrawberryGreen {
		animation: gravityTomatoTabletMobile 0.5s;
	}

	.isStrawberryRed {
		animation: gravityTomatoTabletMobile 0.5s;
	}

	.isStrawberryDarkGreen {
		animation: gravityTomatoTabletMobile 0.5s;
	}

	.isCollector {
		position: absolute;
		top: -35px;
		left: -17.5px;

		width: 70px;
		height: 70px;
	}

	.isCollectorMovedLeft {
		animation: moveCollectorLeftTabletMobile 0.09s;
	}

	.isCollectorMovedRight {
		animation: moveCollectorRightTabletMobile 0.09s;
	}
}

@media (max-width: 920px) {
	.gameWrapper {
		max-width: var(--middle-mobile-width);
		max-height: var(--middle-mobile-height);
	}

	.border {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);

		border: 6px solid #d9d9d9;
		outline: 2px solid #8990a5;
	}

	.decorations {
		max-width: 115px;
	}

	.cellWrapper {
		max-width: 382px;
		max-height: 288px;
		transform: scale(1.05);
	}

	.cell {
		width: 29px;
		height: 29px;
	}

	.isTomatoGreen,
	.isPepperGreen,
	.isStrawberryGreen {
		top: 29px;

		width: 29px;
		height: 29px;
	}

	.isTomatoDarkGreen,
	.isPepperDarkGreen,
	.isStrawberryDarkGreen {
		top: 29px;

		width: 29px;
		height: 29px;
	}

	.isTomatoRed,
	.isPepperRed,
	.isStrawberryRed {
		top: 29px;

		width: 29px;
		height: 29px;
	}

	.isTomatoGreen {
		animation: gravityTomatoMiddleMobile 0.7s;
	}

	.isTomatoRed {
		animation: gravityTomatoMiddleMobile 0.7s;
	}

	.isTomatoDarkGreen {
		animation: gravityTomatoMiddleMobile 0.7s;
	}

	.isPepperGreen {
		animation: gravityTomatoMiddleMobile 0.6s;
	}

	.isPepperRed {
		animation: gravityTomatoMiddleMobile 0.6s;
	}

	.isPepperDarkGreen {
		animation: gravityTomatoMiddleMobile 0.6s;
	}

	.isStrawberryGreen {
		animation: gravityTomatoMiddleMobile 0.5s;
	}

	.isStrawberryRed {
		animation: gravityTomatoMiddleMobile 0.5s;
	}

	.isStrawberryDarkGreen {
		animation: gravityTomatoMiddleMobile 0.5s;
	}

	.isCollector {
		position: absolute;
		top: -29px;
		left: -14.5px;

		width: 58px;
		height: 58px;
	}

	.isCollectorMovedLeft {
		animation: moveCollectorLeftMiddleMobile 0.09s;
	}

	.isCollectorMovedRight {
		animation: moveCollectorRightMiddleMobile 0.09s;
	}
}

@media (max-width: 770px) {
	.gameWrapper {
		max-width: var(--mobile-width);
		max-height: var(--mobile-height);
	}

	.border {
		width: var(--mobile-width);
		height: var(--mobile-height);

		border: 6px solid #d9d9d9;
		outline: 2px solid #8990a5;
	}

	.decorations {
		max-width: 90px;
	}

	.cellWrapper {
		max-width: 302px;
		max-height: 230px;
		transform: scale(1.05);
	}

	.cell {
		width: 23px;
		height: 23px;
	}

	.isTomatoGreen,
	.isPepperGreen,
	.isStrawberryGreen {
		top: 23px;

		width: 23px;
		height: 23px;
	}

	.isTomatoDarkGreen,
	.isPepperDarkGreen,
	.isStrawberryDarkGreen {
		top: 23px;

		width: 23px;
		height: 23px;
	}

	.isTomatoRed,
	.isPepperRed,
	.isStrawberryRed {
		top: 23px;

		width: 23px;
		height: 23px;
	}

	.isTomatoGreen {
		animation: gravityTomatoMobile 0.7s;
	}

	.isTomatoRed {
		animation: gravityTomatoMobile 0.7s;
	}

	.isTomatoDarkGreen {
		animation: gravityTomatoMobile 0.7s;
	}

	.isPepperGreen {
		animation: gravityTomatoMobile 0.6s;
	}

	.isPepperRed {
		animation: gravityTomatoMobile 0.6s;
	}

	.isPepperDarkGreen {
		animation: gravityTomatoMobile 0.6s;
	}

	.isStrawberryGreen {
		animation: gravityTomatoMobile 0.5s;
	}

	.isStrawberryRed {
		animation: gravityTomatoMobile 0.5s;
	}

	.isStrawberryDarkGreen {
		animation: gravityTomatoMobile 0.5s;
	}

	.isCollector {
		position: absolute;
		top: -23px;
		left: -11.5px;

		width: 46px;
		height: 46px;
	}

	.isCollectorMovedLeft {
		animation: moveCollectorLeftMobile 0.09s;
	}

	.isCollectorMovedRight {
		animation: moveCollectorRightMobile 0.09s;
	}
}
