@import '../../../../../assets/styles/variables.css';

.border {
	width: 772px;
	height: 432px;
	border-radius: 4px;
	border: 2px solidvar(--secondary-text-gray-dark);
	outline-color: var(--secondary-text-gray-dark);
	outline-width: 2px;
	background-color: #d9d9d9;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 200;
}

.screen {
	width: 740px;
	height: 404px;
	padding: 10px 10px 10px 10px;

	border: 2px solid var(--secondary-text-gray-dark);
	background-color: var(--primary-grey);

	display: flex;
}

.levelsList {
	/* max-width: 600px; */
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.levelsItem {
	width: 338px;
	height: 172px;

	margin: 10px;

	display: flex;
}

.indicatorsList {
	display: flex;
	flex-direction: column;
}

.indicatorsItem {
	display: flex;
	max-width: 156px;
	max-height: 44px;
	width: 100%;
	height: 100%;
}

.aiLevel {
	margin-left: 20px;
}

/* Restart buttons */
.restartSystemBtn {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 166px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 8px;
	border: 2px solid var(--secondary-text-gray-dark);

	color: var(--secondary-text-gray-dark);
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;

	cursor: not-allowed;
}

.isBtnRestartActive:hover {
	border: 2px solid var(--primary-green);
	color: var(--primary-green);
}

.isBtnRestartActive {
	border: 2px solid var(--primary-green);
	color: var(--primary-green);

	cursor: pointer;
}

/* Share Levels */
.indicatorLine {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 166px;
	height: 33px;
	margin-left: 8px;
}

.indicatorLineWrapper {
	background-color: var(--primary-black);
	max-width: 100px;
	width: 100%;
	height: 12px;
	margin-top: 20px;

	border-radius: 4px;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.indicatorLineWrapper p {
	color: transparent;
	user-select: none;
}

/* Levels */
.moistureItem {
	color: #2e55bc;
}

.moistureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.moistureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 60px;

	content: '70%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;

	animation: indicatorMoistureNumberReturn 1s;
}

.moistureLineFull {
	max-width: 100px;
	min-width: 30px;
	width: 70px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: #2e55bc;

	animation: clearMoistureLine 1s;
}

.moistureNumberCritical::after {
	left: 30px;
	content: '40%';
	animation: indicatorMoistureNumber 1s;
}

.moistureIconCritical {
	color: var(--secondary-hover-red-dark);
}

.moistureLineFullCritical {
	width: 40px;
	background-color: var(--secondary-hover-red-dark);

	animation: fillMoistureLine 1s;
}

.temperatureItem {
	color: var(--secondary-hover-yellow);
}

.temperatureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.temperatureLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 23px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--secondary-hover-yellow);

	animation: clearTempLine 1s;
}

.temperatureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 13px;

	content: '23⁰C';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;

	animation: indicatorTempNumberReturn 1s;
}

.temperatureNumberCritical::after {
	left: 25px;
	content: '35⁰C';

	animation: indicatorTempNumber 1s;
}

.temperatureIconCritical {
	color: var(--secondary-hover-red-dark);
}

.temperatureLineFullCritical {
	width: 45px;
	background-color: var(--secondary-hover-red-dark);

	animation: fillTempLine 1s;
}

.healthItem {
	color: var(--primary-green);
}

.healthIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.healthLineFull {
	max-width: 100px;
	min-width: 0px;
	width: 100px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--primary-green);
}

.healthNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 80px;

	content: '100%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.healthNumberCritical::after {
	left: 40px;
	content: '50%';

	animation: indicatorHealthyNumber 1s;
}

.healthNumberEmpty::after {
	left: 0px;
	content: '0%';

	animation: indicatorHealthyEmptyNumber 1s;
}

.healthIconCritical {
	color: var(--secondary-hover-red-dark);
}

.healthLineFullCritical {
	width: 50px;
	background-color: var(--secondary-hover-red-dark);

	animation: clearHealthyLine 1s;
}

.healthLineEmptyCritical {
	width: 0px;
	background-color: var(--secondary-hover-red-dark);

	animation: emptyHealthyLine 1s;
}

.pestItem {
	color: var(--secondary-text-gray-dark);
}

.pestIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.pestIconCritical {
	color: var(--secondary-text-gray-dark);
}

.pestLineFull {
	max-width: 100px;
	min-width: 0px;
	width: 0px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--secondary-text-gray-dark);
}

.pestNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 0px;

	content: '0%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.pestNumberCritical::after {
	left: 20px;
	content: '30%';
	animation: indicatorPestNumber 15s;
}

.pestLineFullCritical {
	width: 30px;
	background-color: var(--secondary-text-gray-dark);

	animation: fillPestLine 15s;
}

/* Level img and notification */
.aiLevelImgWrapper {
	position: relative;
}

.aiLevelImg {
	width: 166px;
	height: 127px;

	border-radius: 4px;
	border: 2px solid var(--secondary-text-gray);

	user-select: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.aiLevelImgBroken {
	border: 2px solid var(--secondary-hover-red-dark);
	animation: opacitySystemBroken 4.8s;
}

.aiLevelImgActive:hover {
	border-color: var(--primary-green);
}

.aiLevelImgActive {
	border-color: var(--primary-green);
}

.systemNotification {
	display: none;

	margin: 0 auto;

	background-image: url(../../../../../../public/images/warningSystem.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 240px;
	max-height: 164px;
	width: 100%;
	height: 100%;

	animation: opacityWarning 4.5s;
}

.systemNotification p {
	margin-top: 68px;
	color: var(--primary-green);
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
}

.systemNotificationActive {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* animations */
@keyframes opacityWarning {
	0% {
		opacity: 0.4;
	}

	20% {
		opacity: 1;
	}

	40% {
		opacity: 0.4;
	}

	60% {
		opacity: 1;
	}

	80% {
		opacity: 0.4;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fillPestLine {
	0% {
		width: 0px;
	}

	100% {
		width: 30px;
	}
}

@keyframes indicatorPestNumber {
	0% {
		left: 0px;
	}

	15% {
		content: '5%';
	}

	35% {
		content: '10%';
	}

	55% {
		content: '15%';
	}

	70% {
		content: '20%';
	}

	90% {
		content: '30%';
	}

	100% {
		left: 20px;
	}
}

@keyframes fillMoistureLine {
	0% {
		width: 70px;
	}

	100% {
		width: 40px;
	}
}

@keyframes clearMoistureLine {
	0% {
		width: 40px;
	}

	100% {
		width: 70px;
	}
}

@keyframes indicatorMoistureNumber {
	0% {
		left: 60px;
	}

	50% {
		content: '40%';
	}

	100% {
		left: 30px;
	}
}

@keyframes indicatorMoistureNumberReturn {
	0% {
		left: 30px;
	}

	50% {
		content: '70%';
	}

	100% {
		left: 60px;
	}
}

@keyframes fillTempLine {
	0% {
		width: 23px;
	}

	100% {
		width: 45px;
	}
}

@keyframes clearTempLine {
	0% {
		width: 45px;
	}

	100% {
		width: 23px;
	}
}

@keyframes indicatorTempNumber {
	0% {
		left: 13px;
		content: '23⁰C';
	}

	50% {
		content: '30⁰C';
	}

	100% {
		left: 25px;
		content: '35⁰C';
	}
}

@keyframes indicatorTempNumberReturn {
	0% {
		left: 25px;
		content: '35⁰C';
	}

	50% {
		content: '30⁰C';
	}

	100% {
		left: 13px;
		content: '23⁰C';
	}
}

@keyframes clearHealthyLine {
	0% {
		width: 100px;
	}

	100% {
		width: 50px;
	}
}

@keyframes emptyHealthyLine {
	0% {
		width: 20px;
	}

	100% {
		width: 0px;
	}
}

@keyframes indicatorHealthyNumber {
	0% {
		left: 80px;
	}

	50% {
		content: '50%';
	}

	100% {
		left: 40px;
	}
}

@keyframes indicatorHealthyEmptyNumber {
	0% {
		left: 40px;
	}

	50% {
		content: '0%';
	}

	100% {
		left: 0px;
	}
}

@keyframes opacitySystemBroken {
	from {
		opacity: 0.5;
	}

	10% {
		opacity: 1;
	}

	20% {
		opacity: 0.5;
	}

	30% {
		opacity: 1;
	}

	40% {
		opacity: 0.5;
	}

	50% {
		opacity: 1;
	}

	60% {
		opacity: 0.5;
	}

	70% {
		opacity: 1;
	}

	80% {
		opacity: 0.5;
	}

	90% {
		opacity: 1;
	}

	to {
		opacity: 0.5;
	}
}
