@import '../../../../../assets/styles/variables.css';

.border {
	width: 772px;
	height: 432px;
	border-radius: 4px;
	border: 2px solid#8990a5;
	outline-color: #8990a5;
	outline-width: 2px;
	background-color: #d9d9d9;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 200;
}

.screen {
	width: 740px;
	height: 404px;
	padding: 10px 10px 10px 10px;

	border: 2px solid var(--secondary-text-gray-dark);
	background-color: var(--primary-grey);

	display: flex;
}

.levelsList {
	/* max-width: 600px; */
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.levelsItem {
	width: 338px;
	height: 172px;

	margin: 10px;

	display: flex;
}

.indicatorsList {
	display: flex;
	flex-direction: column;
}

.indicatorsItem {
	display: flex;
	max-width: 156px;
	max-height: 44px;
	width: 100%;
	height: 100%;
}

.aiLevel {
	margin-left: 20px;
}

.aiLevelImgWrapper {
	position: relative;
}

.aiLevelImg {
	width: 166px;
	height: 127px;

	border-radius: 4px;
	border: 2px solid var(--secondary-text-gray);

	user-select: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.restartSystemBtn {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 166px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 8px;
	border: 2px solid var(--primary-green);

	color: var(--primary-green);
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;

	cursor: pointer;
}

/* Share Levels */
.indicatorLine {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 166px;
	height: 33px;
	margin-left: 8px;
}

.indicatorLineWrapper {
	background-color: var(--primary-black);
	max-width: 100px;
	width: 100%;
	height: 12px;
	margin-top: 20px;

	border-radius: 4px;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.indicatorLineWrapper p {
	color: transparent;
	user-select: none;
}

/* Levels */
.moistureItem {
	color: #2e55bc;
}

.moistureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.moistureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.moistureLineFull {
	max-width: 100px;
	min-width: 30px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: #2e55bc;
}

.moistureNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.moistureIconCritical {
	color: #df1d11;
}

.moistureLineFullCritical {
	width: 50px;
	background-color: #df1d11;

	animation: widthLine 1s;
}

.temperatureItem {
	color: #d2e68a;
}

.temperatureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.temperatureLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: #d2e68a;
}

.temperatureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.temperatureNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.temperatureIconCritical {
	color: #df1d11;
}

.temperatureLineFullCritical {
	width: 50px;
	background-color: #df1d11;

	animation: widthLine 1s;
}

.autoSystemItem {
	color: var(--primary-green);
}

.autoSystemIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.autoSystemLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--primary-green);
}

.autoSystemNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.autoSystemNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.autoSystemIconCritical {
	color: #df1d11;
}

.autoSystemLineFullCritical {
	width: 50px;
	background-color: #df1d11;

	animation: widthLine 1s;
}

.caterpillarItem {
	color: #8990a5;
}

.caterpillarIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.caterpillarLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: #8990a5;
}

.caterpillarNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.caterpillarNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.caterpillarIconCritical {
	color: #df1d11;
}

.caterpillarLineFullCritical {
	width: 50px;
	background-color: #df1d11;

	animation: widthLine 1s;
}

/* css li drone */

.itemDrone {
	display: flex;
	align-items: flex-end;

	margin-left: 12px;
}

.insecticideList {
	display: flex;
}

.insecticide {
	width: 86px;
	height: 130px;

	background-position: center;
	background-repeat: no-repeat;
	user-select: none;
	cursor: pointer;
}

.insecticideBug {
	background-image: url(../../../../../../public/images/insecticideBug.svg);
}

.insecticideBug:hover {
	background-image: url(../../../../../../public/images/insecticideBugActive.svg);
}

.insecticideBugActive {
	background-image: url(../../../../../../public/images/insecticideBugActive.svg);
}

.insecticideLocusts {
	background-image: url(../../../../../../public/images/insecticideLocusts.svg);
}

.insecticideLocusts:hover {
	background-image: url(../../../../../../public/images/insecticideLocustsActive.svg);
}

.insecticideLocustsActive {
	background-image: url(../../../../../../public/images/insecticideLocustsActive.svg);
}

.insecticideCaterpillar {
	background-image: url(../../../../../../public/images/insecticideCaterpillar.svg);
}

.insecticideCaterpillar:hover {
	background-image: url(../../../../../../public/images/insecticideCaterpillarActive.svg);
}

.insecticideCaterpillarActive {
	background-image: url(../../../../../../public/images/insecticideCaterpillarActive.svg);
}

/* css drone */
.drone {
	position: relative;
	width: 148px;
	height: 82px;

	background-image: url(../../../../../../public/images/droneGame.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	user-select: none;
	cursor: pointer;
}

.drone:hover {
	background-image: url(../../../../../../public/images/droneGameActive.svg);
}

.droneActive {
	background-image: url(../../../../../../public/images/droneGameActive.svg);
}

.droneMovedTomato {
	top: -156px;
	right: 440px;
	animation: droneMovedTomato 7s;
}

.droneReturnTomato {
	top: 0px;
	right: 0px;
	animation: droneReturnTomato 7s;
}

.droneMovedPepper {
	top: -156px;
	right: 146px;
	animation: droneMovedPepper 7s;
}

.droneReturnPepper {
	top: 0px;
	right: 0px;
	animation: droneReturnPepper 7s;
}

.droneMovedStrawberry {
	top: 28px;
	right: 440px;
	animation: droneMovedStrawberry 7s;
}

.droneReturnStrawberry {
	top: 0px;
	right: 0px;
	animation: droneReturnStrawberry 7s;
}

/* Levels states */
.aiLevelImgActive:hover {
	border-color: var(--primary-green);
}

.aiLevelImgActive {
	border-color: var(--primary-green);
}

/* animations */
@keyframes widthLine {
	0% {
		width: 30px;
	}

	100% {
		width: 50px;
	}
}

@keyframes indicatorNumber {
	0% {
		left: 30px;
	}

	50% {
		content: '50%';
	}

	100% {
		left: 40px;
	}
}

@keyframes opacityUltra {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.5;
		transform: rotate(0deg);
	}

	20% {
		opacity: 1;
		transform: rotate(12deg);
	}

	40% {
		opacity: 0.5;
		transform: rotate(0deg);
	}

	60% {
		opacity: 1;
		transform: rotate(-19deg);
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes droneMovedTomato {
	0% {
		top: 0px;
		right: 0px;
	}

	50% {
		top: -156px;
		right: 0px;
	}

	88% {
		transform: rotate(-10deg);
	}

	100% {
		top: -156px;
		right: 440px;
		transform: rotate(0deg);
	}
}

@keyframes droneReturnTomato {
	0% {
		top: -156px;
		right: 440px;
	}

	10% {
		transform: rotate(10deg);
	}

	38% {
		transform: rotate(0deg);
	}

	50% {
		top: -156px;
		right: 0px;
	}

	100% {
		top: 0px;
		right: 0px;
	}
}

@keyframes droneMovedPepper {
	0% {
		top: 0px;
		right: 0px;
	}

	50% {
		top: -156px;
		right: 0px;
	}

	88% {
		transform: rotate(-10deg);
	}

	100% {
		top: -156px;
		right: 146px;
		transform: rotate(0deg);
	}
}

@keyframes droneReturnPepper {
	0% {
		top: -156px;
		right: 146px;
	}

	10% {
		transform: rotate(10deg);
	}

	38% {
		transform: rotate(0deg);
	}

	50% {
		top: -156px;
		right: 0px;
	}

	100% {
		top: 0px;
		right: 0px;
	}
}

@keyframes droneMovedStrawberry {
	0% {
		top: 0px;
		right: 0px;
		transform: rotate(0deg);
	}

	50% {
		top: 28px;
		right: 0px;
	}

	90% {
		transform: rotate(-10deg);
	}

	100% {
		top: 28px;
		right: 440px;
		transform: rotate(0deg);
	}
}

@keyframes droneReturnStrawberry {
	0% {
		top: 28px;
		right: 440px;
	}

	10% {
		transform: rotate(10deg);
	}

	80% {
		top: 28px;
		right: 0px;
		transform: rotate(0deg);
	}

	100% {
		top: 0px;
		right: 0px;
	}
}
