@import '../../../../../assets/styles/variables.css';

.border {
	width: 772px;
	height: 432px;
	border-radius: 4px;
	border: 2px solidvar(--secondary-text-gray-dark);
	outline-color: var(--secondary-text-gray-dark);
	outline-width: 2px;
	background-color: #d9d9d9;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 200;
}

.screen {
	width: 740px;
	height: 404px;
	padding: 10px 10px 10px 10px;

	border: 2px solid var(--secondary-text-gray-dark);
	background-color: var(--primary-grey);

	display: flex;
}

.levelsList {
	/* max-width: 600px; */
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.levelsItem {
	width: 338px;
	height: 172px;

	margin: 10px;

	display: flex;
}

.indicatorsList {
	display: flex;
	flex-direction: column;
}

.indicatorsItem {
	display: flex;
	max-width: 156px;
	max-height: 44px;
	width: 100%;
	height: 100%;
}

.aiLevel {
	margin-left: 20px;
}

/* Level images */
.aiLevelImgWrapper {
	position: relative;
}

.aiLevelImg {
	width: 166px;
	height: 127px;

	border-radius: 4px;
	border: 2px solid var(--secondary-text-gray);

	user-select: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.aiTomatoLevelImgActive:hover {
	border-color: var(--primary-green);
}

.aiTomatoLevelImgActive {
	border-color: var(--primary-green);
}

/* Restart buttons */
.restartSystemBtn {
	margin-top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;

	max-width: 166px;
	width: 100%;
	padding: 8px 10px;
	border-radius: 8px;
	border: 2px solid var(--secondary-text-gray-dark);

	color: var(--secondary-text-gray-dark);
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;

	cursor: not-allowed;
}

.isTomatoBtnRestartActive:hover {
	border: 2px solid var(--primary-green);
	color: var(--primary-green);
}

.isTomatoBtnRestartActive {
	border: 2px solid var(--primary-green);
	color: var(--primary-green);

	cursor: pointer;
}

/* Share Levels */
.indicatorLine {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 166px;
	height: 33px;
	margin-left: 8px;
}

.indicatorLineWrapper {
	background-color: var(--primary-black);
	max-width: 100px;
	width: 100%;
	height: 12px;
	margin-top: 20px;

	border-radius: 4px;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.indicatorLineWrapper p {
	color: transparent;
	user-select: none;
}

/* Levels */
.moistureItem {
	color: #2e55bc;
}

.moistureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.moistureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;

	animation: indicatorNumberReturn 1s;
}

.moistureLineFull {
	max-width: 100px;
	min-width: 30px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: #2e55bc;

	animation: clearLine 1s;
}

.moistureNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.moistureIconCritical {
	color: var(--secondary-hover-red-dark);
}

.moistureLineFullCritical {
	width: 50px;
	background-color: var(--secondary-hover-red-dark);

	animation: fillLine 1s;
}

.temperatureItem {
	color: var(--secondary-hover-yellow);
}

.temperatureIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.temperatureLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--secondary-hover-yellow);

	animation: clearLine 1s;
}

.temperatureNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;

	animation: indicatorNumberReturn 1s;
}

.temperatureNumberCritical::after {
	left: 40px;
	content: '50%';

	animation: indicatorNumber 1s;
}

.temperatureIconCritical {
	color: var(--secondary-hover-red-dark);
}

.temperatureLineFullCritical {
	width: 50px;
	background-color: var(--secondary-hover-red-dark);

	animation: fillLine 1s;
}

.autoSystemItem {
	color: var(--primary-green);
}

.autoSystemIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.autoSystemLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--primary-green);

	animation: clearLine 1s;
}

.autoSystemNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;

	animation: indicatorNumberReturn 1s;
}

.autoSystemNumberCritical::after {
	left: 40px;
	content: '50%';

	animation: indicatorNumber 1s;
}

.autoSystemIconCritical {
	color: var(--secondary-hover-red-dark);
}

.autoSystemLineFullCritical {
	width: 50px;
	background-color: var(--secondary-hover-red-dark);

	animation: fillLine 1s;
}

.caterpillarItem {
	color: var(--secondary-text-gray-dark);
}

.caterpillarIcon {
	max-width: 44px;
	max-height: 44px;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.caterpillarIconCritical {
	color: var(--secondary-text-gray-dark);
}

.caterpillarLineFull {
	max-width: 100px;
	min-width: 20px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background-color: var(--secondary-text-gray-dark);
}

.caterpillarNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.caterpillarNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.caterpillarLineFullCritical {
	width: 50px;
	background-color: var(--secondary-text-gray-dark);

	animation: fillLine 1s;
}

/* Levels states */
.aiLevelImgActive:hover {
	border-color: var(--primary-green);
}

.aiLevelImgActive {
	border-color: var(--primary-green);
}

/* animations */
@keyframes fillLine {
	0% {
		width: 30px;
	}

	100% {
		width: 50px;
	}
}

@keyframes clearLine {
	0% {
		width: 50px;
	}

	100% {
		width: 30px;
	}
}

@keyframes indicatorNumber {
	0% {
		left: 20px;
	}

	50% {
		content: '50%';
	}

	100% {
		left: 40px;
	}
}

@keyframes indicatorNumberReturn {
	0% {
		left: 40px;
	}

	50% {
		content: '30%';
	}

	100% {
		left: 20px;
	}
}
