@import '../../../../assets/styles/variables.css';

.topSection {
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	z-index: 10;

	padding: 0px 128px 0px 40px;
}

.logo {
	max-width: 148px;
	max-height: 23px;
	width: 100%;
	height: 100%;
	/* min-width: 148px;
	min-height: 23px; */
	margin-right: 50px;
}

.topBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	max-width: 837px;
	width: 100%;
	padding: 41px 90px 26px 90px;

	border-radius: 36px;
	border: 2px solid var(--primary-green);
	background: var(--primary-black);
}

.topTitle {
	color: var(--primary-green);
	text-align: center;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
}

.topData {
	margin-right: 25px;
	align-self: flex-end;
	color: var(--primary-green);
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;
}
