@import '../../../../assets/styles/variables.css';

.topSection {
	margin-top: 40px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
	z-index: 10;

	padding: 0px 128px 0px 40px;
}

.logo {
	max-width: 148px;
	max-height: 23px;
	width: 100%;
	height: 100%;
	margin-right: 50px;
}

.topBlock {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* max-width: 837px; */
	min-height: 202px;
	max-width: 75%;
	width: 100%;
	padding: 41px 50px 26px 50px;

	border-radius: 36px;
	border: 2px solid var(--primary-green);
	background: var(--primary-black);
}

.topTitle {
	color: var(--primary-green);
	text-align: center;
	font-size: 72px;
	font-weight: 700;
	line-height: 84px;
}

.topData {
	color: var(--primary-green);
	text-align: end;
	font-size: 32px;
	font-weight: 700;
	line-height: 48px;

	max-width: 625px;
	width: 100%;
}

@media (max-width: 960px) {
	.topSection {
		flex-direction: column;
		padding: 0px 70px;
	}

	.topBlock {
		margin: 0 auto;
		margin-top: 40px;
		padding: 41px 70px 26px 70px;
	}

	.logo {
		margin: 0 auto;
	}
}

@media (max-width: 700px) {
	.topSection {
		padding: 0px 40px;
	}

	.topTitle {
		font-size: 54px;
		line-height: 64px;
	}

	.topData {
		font-size: 26px;
		align-self: center;
		margin-right: 0px;
	}
}

@media (max-width: 500px) {
	.topSection {
		padding: 0px 30px;
	}

	.topTitle {
		font-size: 36px;
	}

	.topData {
		font-size: 20px;
	}
}

@media (max-width: 400px) {
	.topSection {
		padding: 0px 20px;
	}
}
