@import '../../../../../assets/styles/variables.css';

.machineCharacteristics {
}

.machineCharacteristicsTomato {
	position: relative;
	bottom: 0px;
	left: 110px;

	background-image: url(../../../../../../public/images/machineCharacteristicsTomato.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;

	width: 458px;
	height: 426px;
}

.characteristicsList {
	border-radius: 12px;
	padding: 20px 9px 22px 13px;

	max-width: 335px;
	max-height: 361px;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 42px;
	left: 96px;
}

.characteristicsItem {
	display: flex;
	justify-content: space-between;

	max-height: 72px;
}

.airMoisture {
	margin-top: 51px;
	margin-bottom: 51px;
}

.soilMoistureNum,
.airMoistureNum,
.airTemperatureNum {
	border: 1.5px solid #b9f598;
	border-radius: 15px;
	background: linear-gradient(302deg, #1e4e4e 16.05%, #1f2431 75.16%);

	width: 104px;
	height: 70px;
	padding: 15px 20px;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 32px;
	line-height: 37px;
	color: rgba(185, 245, 152, 1);
}

.soilMoistureWrapper,
.airMoistureText,
.airTemperatureWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 204px;
}

.airMoistureBtnWrapper {
	display: flex;
	justify-content: space-around;
}

.soilMoistureText,
.airMoistureText,
.airTemperatureText {
	font-size: 19px;
	line-height: 23px;
	color: rgba(185, 245, 152, 1);

	margin-bottom: 15px;
}

.soilMoistureBtn,
.airMoistureBtn {
	padding: 5px;
	width: 87px;
	height: 35px;

	border: 2px solid #b9f598;
	border-radius: 8px;

	color: rgba(185, 245, 152, 1);
	font-weight: 500;
	font-size: 14px;
	line-height: 22px;

	cursor: pointer;
}

.airTemperatureBtnWrapper {
	display: flex;
	justify-content: space-around;

	width: 100%;
}

.airTemperatureBtn {
	background-image: url(../../../../../../public/images/airTemperatureBtn.svg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;

	width: 26px;
	height: 26px;
}

.plant {
	position: absolute;
	left: 200px;

	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;
}

.plantSproutTomato {
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantSproutTomato.svg);

	width: 120px;
	height: 90px;

	animation: opacity 2s;
}

.plantColorTomato {
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantColorTomato.svg);

	width: 140px;
	height: 110px;

	animation: opacity 2s;
}

.plantModifiedTomato {
	left: 120px;
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantModifiedTomato.svg);

	width: 270px;
	height: 254px;

	animation: opacity 2s;
}

.plantSproutPepper {
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantSproutPepper.svg);

	width: 120px;
	height: 90px;

	animation: opacity 2s;
}

.plantColorPepper {
	left: 185px;
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantColorPepper.svg);

	width: 140px;
	height: 110px;

	animation: opacity 2s;
}

.plantModifiedPepper {
	left: 140px;
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantModifiedPepper.svg);

	width: 270px;
	height: 234px;

	animation: opacity 2s;
}

.plantSproutStrawberry {
	bottom: 100px;
	background-image: url(../../../../../../public/images/isPlantSproutStrawberry.svg);

	width: 125px;
	height: 120px;

	animation: opacity 2s;
}

.plantColorStrawberry {
	left: 195px;
	bottom: 105px;
	background-image: url(../../../../../../public/images/isPlantColorStrawberry.svg);

	width: 128px;
	height: 137px;

	animation: opacity 2s;
}

.plantModifiedStrawberry {
	left: 195px;
	bottom: 105px;
	background-image: url(../../../../../../public/images/isPlantModifiedStrawberry.svg);

	width: 128px;
	height: 137px;

	animation: opacity 2s;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	to {
		opacity: 1;
	}
}
