@import '../../../assets/styles/variables.css';

.navigation {
	width: 214px;
	height: 86px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 18px;
	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background-color: var(--primary-grey);
}

.btn {
	width: 44px;
	height: 44px;
	padding: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 21px;

	border-radius: 8px;
	border: 2px solid var(--primary-green);
	background-color: var(--primary-black);

	color: var(--primary-green);
	transition: color 0.3s ease-in-out;
}

.btn:hover {
	color: var(--primary-black);
	background-color: var(--primary-green);
}

/* @media (max-width: 1044px) {
	.navigation {
		width: 174px;
		height: 66px;
	}
}

@media (max-width: 788px) {
	.navigation {
		width: 162px;
		height: 56px;
	}
} */
