@import '../../../assets/styles/variables.css';

.navigation {
	width: 214px;
	height: 86px;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 18px;
	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background-color: var(--primary-grey);
}

/* @media (max-width: 1044px) {
	.navigation {
		width: 174px;
		height: 66px;
	}
}

@media (max-width: 788px) {
	.navigation {
		width: 162px;
		height: 56px;
	}
} */
