@import '../../../../../assets/styles/variables.css';

.infoLinkWrapper {
	position: relative;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.4s;
}

.infoLinkBlockGame {
	padding: 45px;
	max-width: 760px;
	min-height: 490px;

	display: flex;
	flex-direction: column;
	justify-content: center;

	border-radius: 20px;
	border: 4px solid var(--primary-green);
	background-color: var(--primary-black);

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 130;
}

.title {
	color: var(--primary-green);
	font-size: 32px;
	font-weight: 500;
	line-height: 35px;

	position: relative;
}

.closeBtnWrapper {
	position: absolute;
	top: -20px;
	right: -20px;
}

.contentText {
	min-width: 600px;
	margin-top: 55px;
	margin-bottom: 15px;
	line-height: 24px;

	color: var(--secondary-text-gray);
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.awardLink {
	display: flex;
	flex-direction: column;
}

.link a {
	display: flex;
	align-items: center;
	color: var(--primary-green);
	font-family: Ubuntu;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 32px;
	text-decoration-line: underline;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
