@import '../../../../assets/styles/variables.css';

.btn {
	width: 44px;
	height: 44px;
	padding: 6px;

	display: flex;
	justify-content: center;
	align-items: center;

	text-align: center;
	font-size: 24px;
	font-weight: 400;
	line-height: 21px;

	border-radius: 8px;
	border: 2px solid var(--primary-green);
	background-color: var(--primary-black);

	color: var(--primary-green);
	transition: color 0.3s ease-in-out;
}

.btn:hover {
	color: var(--primary-black);
	background-color: var(--primary-green);
}

@media (max-width: 1044px) {
	.btn {
		width: 34px;
		height: 34px;
		padding: 7px;
	}
}
