@import '../../../../assets/styles/variables.css';

.modalBankWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 36px;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;
}

.modalBank {
	position: absolute;
	z-index: 150;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.closeBtnWrapper {
	position: absolute;
	top: 20px;
	right: 20px;
}

.returnCreditBtn {
	width: 100%;
	padding: 14px 40px;
	text-align: center;

	border-radius: 12px;
	background: var(--primary-green);

	color: var(--primary-grey);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

.returnCreditBtnNonActive {
	opacity: 0.5;
	cursor: not-allowed;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
