@import '../../../../assets/styles/variables.css';

.modalBankWrapper {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 120;
	animation: opacity 0.8s;

	display: flex;
	justify-content: center;
	align-items: center;
}

.modalBank {
	position: absolute;
	z-index: 150;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	transform: scale(1.4);
}

.returnCreditBtn,
.finishBtn {
	width: 100%;
	padding: 14px 40px;
	text-align: center;

	border-radius: 12px;
	background: var(--primary-green);

	color: var(--primary-grey);
	font-size: 20px;
	font-weight: 500;
	line-height: 32px;
}

.returnCreditBtnNonActive {
	opacity: 0.5;
	cursor: not-allowed;
}

.closeBtnWrapper {
	position: absolute;
	right: 24px;
	top: 24px;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	30% {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 1620px) {
	.modalBank {
		transform: scale(1.4);
	}
}

@media (max-width: 1400px) {
	.modalBank {
		transform: scale(1.2);
	}
}

@media (max-width: 1280px) {
	.modalBank {
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.modalBank {
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.modalBank {
		transform: scale(0.62);
	}
}

@media (max-width: 920px) {
	.modalBank {
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.modalBank {
		transform: scale(0.5);
	}
}
