@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-color: var(--primary-black);
	width: var(--notebook-width);
	height: var(--notebook-height);
}

.chemistryTableWrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;

	max-width: 100%;
	max-height: 100%;
}

.dialogMariaWrapper {
	position: absolute;
	bottom: 0px;
	right: 10px;

	max-width: 100%;
	max-height: 100%;
}

.noteWall {
	position: absolute;
	top: 90px;
	left: 50px;

	background-image: url(../../../../../../public/images/noteWall.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 210px;
	max-height: 335px;
	width: 100%;
	height: 100%;
}

.noteWallActive {
	background-image: url(../../../../../../public/images/noteWallActive.svg);
}

.tabletTable {
	position: absolute;
	bottom: 10px;
	left: 128px;

	background-image: url(../../../../../../public/images/tabletTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 263px;
	max-height: 178px;
	width: 100%;
	height: 100%;
}

.tabletTableActive {
	background-image: url(../../../../../../public/images/tabletTableActive.svg);
}

.numPadTable {
	position: absolute;
	bottom: 10px;
	left: 600px;

	background-color: #444444;
	/* background-image: url(../../../../../../public/images/tabletTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */

	max-width: 100px;
	max-height: 100px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

.numPadTableActive {
	border: 3px solid var(--primary-green);
}

.bookTable {
	position: absolute;
	bottom: 0px;
	right: 0px;

	background-image: url(../../../../../../public/images/bookTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	overflow-x: hidden;

	max-width: 452px;
	max-height: 178px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

.bookTableActive {
	background-image: url(../../../../../../public/images/bookTableActive.svg);
}

/* media */
@media (max-width: 1580px) {
	.gameBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.dialogMariaWrapper {
		bottom: 31px;
		right: 56px;
		transform: scale(1.1);
	}
}

@media (max-width: 1280px) {
	.gameBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.dialogMariaWrapper {
		bottom: 0px;
		right: 10px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.gameBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.dialogMariaWrapper {
		bottom: -10px;
		right: -70px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.gameBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.dialogMariaWrapper {
		bottom: -10px;
		transform: scale(0.5);
	}
}

@media (max-width: 920px) {
	.gameBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.dialogMariaWrapper {
		bottom: 0px;
		transform: scale(0.4);
	}
}

@media (max-width: 770px) {
	.gameBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.dialogMariaWrapper {
		bottom: -5px;
		right: -50px;
		transform: scale(0.29);
	}
}
