@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-color: var(--primary-black);
	width: var(--notebook-width);
	height: var(--notebook-height);
}

.chemistryTableWrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;

	max-width: 100%;
	max-height: 100%;
}

.dialogMariaWrapper {
	position: absolute;
	bottom: 30px;
	right: 80px;
	transform: scale(1.1);

	max-width: 100%;
	max-height: 100%;
}

/* media */
@media (max-width: 1620px) {
	.gameBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.dialogMariaWrapper {
		bottom: 30px;
		right: 80px;
		transform: scale(1.1);
	}
}

@media (max-width: 1400px) {
	.gameBack {
		width: var(--notebook-desktop-width);
		height: var(--notebook-desktop-height);
	}

	.dialogMariaWrapper {
		bottom: 1px;
		right: 23px;
		transform: scale(1);
	}
}

@media (max-width: 1280px) {
	.gameBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.dialogMariaWrapper {
		bottom: -44px;
		right: -14px;
		transform: scale(0.85);
	}
}

@media (max-width: 1248px) {
	.gameBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.dialogMariaWrapper {
		bottom: -10px;
		right: -70px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.gameBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.dialogMariaWrapper {
		bottom: -10px;
		transform: scale(0.5);
	}
}

@media (max-width: 920px) {
	.gameBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.dialogMariaWrapper {
		bottom: 0px;
		transform: scale(0.4);
	}
}

@media (max-width: 770px) {
	.gameBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.dialogMariaWrapper {
		bottom: 5px;
		right: -39px;
		transform: scale(0.31);
	}
}
