@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-color: var(--primary-black);
	width: 1280px;
	height: 660px;
}

.chemistryTableWrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;

	max-width: 100%;
	max-height: 100%;
}

.dialogMariaWrapper {
	position: absolute;
	bottom: 0px;
	right: 10px;

	max-width: 100%;
	max-height: 100%;
}

.noteWall {
	position: absolute;
	top: 90px;
	left: 50px;

	background-image: url(../../../../../../public/images/noteWall.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 210px;
	max-height: 335px;
	width: 100%;
	height: 100%;
}

.noteWallActive {
	background-image: url(../../../../../../public/images/noteWallActive.svg);
}

.tabletTable {
	position: absolute;
	bottom: 10px;
	left: 128px;

	background-image: url(../../../../../../public/images/tabletTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	max-width: 263px;
	max-height: 178px;
	width: 100%;
	height: 100%;
}

.tabletTableActive {
	background-image: url(../../../../../../public/images/tabletTableActive.svg);
}

.numPadTable {
	position: absolute;
	bottom: 10px;
	left: 600px;

	background-color: #444444;
	/* background-image: url(../../../../../../public/images/tabletTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain; */

	max-width: 100px;
	max-height: 100px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

.numPadTableActive {
	border: 3px solid var(--primary-green);
}

.bookTable {
	position: absolute;
	bottom: 0px;
	right: 0px;

	background-image: url(../../../../../../public/images/bookTable.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	overflow-x: hidden;

	max-width: 452px;
	max-height: 178px;
	width: 100%;
	height: 100%;

	cursor: pointer;
}

.bookTableActive {
	background-image: url(../../../../../../public/images/bookTableActive.svg);
}

/* @media (max-width: 1044px) {
	.gameBack {
		max-width: var(--tablet-width);
		max-height: var(--tablet-height);
	}
}

@media (max-width: 788px) {
	.gameBack {
		max-width: var(--tablet-mobile-width);
		max-height: var(--tablet-mobile-height);
	}
} */

/* @media (max-width: 532px) {
	.contentWrapper {
		max-width: var(--mobile-width);
		max-height: var(--mobile-height);
	}
} */
