.chemistryTableBack {
	position: relative;

	background-image: url(../../../../../../public/images/table.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	width: 990px;
	height: 200px;

	left: 0px;
}

.bigFlaskEmpty {
	position: absolute;
	/* bottom: 0px;
	left: 200px;

  width: 192px;
	height: 160px; */

	background-image: url(../../../../../../public/images/bigFlaskEmpty.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;

	bottom: 5px;
	left: 230px;

	width: 235px;
	height: 200px;
}

.plant {
	position: absolute;
	left: 200px;

	background-repeat: no-repeat;
	background-size: contain;
	z-index: 10;

	transform: scale(1.3);
}

.plantSproutTomato {
	bottom: 110px;
	background-image: url(../../../../../../public/images/isPlantSproutTomato.svg);

	width: 120px;
	height: 90px;

	left: 244px;
	transform: scale(1.3);

	bottom: 148px;

	animation: opacity 2s;
}

.plantColorTomato {
	background-image: url(../../../../../../public/images/isPlantColorTomato.svg);

	/* bottom: 110px; */

	width: 140px;
	height: 110px;

	left: 235px;
	bottom: 155px;

	transform: scale(1.3);

	animation: opacity 2s;
}

.plantModifiedTomato {
	background-image: url(../../../../../../public/images/isPlantModifiedTomato.svg);

	width: 270px;
	height: 254px;

	/* left: 120px;
	bottom: 110px; */

	left: 170px;
	bottom: 165px;

	transform: scale(1.2);

	animation: opacity 2s;
}

.plantSproutPepper {
	background-image: url(../../../../../../public/images/isPlantSproutPepper.svg);

	width: 120px;
	height: 90px;

	/* bottom: 110px; */

	left: 237px;
	bottom: 147px;

	transform: scale(1.3);

	animation: opacity 2s;
}

.plantColorPepper {
	background-image: url(../../../../../../public/images/isPlantColorPepper.svg);

	width: 140px;
	height: 110px;

	/* left: 185px;
	bottom: 110px; */

	left: 228px;
	bottom: 153px;

	transform: scale(1.3);

	animation: opacity 2s;
}

.plantModifiedPepper {
	background-image: url(../../../../../../public/images/isPlantModifiedPepper.svg);

	width: 270px;
	height: 234px;

	/* left: 140px;
	bottom: 110px; */

	left: 192px;
	bottom: 171px;
	transform: scale(1.3);

	animation: opacity 2s;
}

.plantSproutStrawberry {
	background-image: url(../../../../../../public/images/isPlantSproutStrawberry.svg);

	width: 125px;
	height: 120px;

	/* bottom: 100px; */

	left: 245px;
	bottom: 126px;

	transform: scale(1);

	animation: opacity 2s;
}

.plantColorStrawberry {
	background-image: url(../../../../../../public/images/isPlantColorStrawberry.svg);

	width: 128px;
	height: 137px;

	/* left: 195px;
	bottom: 105px; */

	left: 242px;
	bottom: 150px;

	animation: opacity 2s;
}

.plantModifiedStrawberry {
	background-image: url(../../../../../../public/images/isPlantModifiedStrawberry.svg);

	width: 128px;
	height: 137px;

	/* left: 195px;
	bottom: 105px; */

	left: 242px;
	bottom: 150px;

	animation: opacity 2s;
}

/* animations */
@keyframes opacity {
	from {
		opacity: 0;
	}

	60% {
		opacity: 0;
	}

	70% {
		opacity: 1;
	}

	to {
		opacity: 1;
	}
}

/* media */
@media (max-width: 1620px) {
	.chemistryTableBack {
		width: 990px;
		height: 200px;

		left: 0px;
	}

	.bigFlaskEmpty {
		bottom: 5px;
		left: 230px;

		width: 235px;
		height: 200px;
	}

	.plant {
		transform: scale(1.3);
	}

	.plantSproutTomato {
		left: 244px;
		transform: scale(1.3);

		bottom: 148px;
	}

	.plantColorTomato {
		left: 235px;
		bottom: 155px;

		transform: scale(1.3);
	}

	.plantModifiedTomato {
		left: 170px;
		bottom: 165px;

		transform: scale(1.2);
	}

	.plantSproutPepper {
		left: 237px;
		bottom: 147px;

		transform: scale(1.3);
	}

	.plantColorPepper {
		left: 228px;
		bottom: 153px;

		transform: scale(1.3);
	}

	.plantModifiedPepper {
		left: 192px;
		bottom: 171px;
		transform: scale(1.3);
	}

	.plantSproutStrawberry {
		left: 245px;
		bottom: 126px;

		transform: scale(1);
	}

	.plantColorStrawberry {
		left: 242px;
		bottom: 150px;

		transform: scale(1);
	}

	.plantModifiedStrawberry {
		left: 242px;
		bottom: 150px;

		transform: scale(1);
	}
}

@media (max-width: 1280px) {
	.chemistryTableBack {
		width: 870px;
		height: 166px;

		left: 0px;
	}

	.bigFlaskEmpty {
		bottom: 0px;
		left: 200px;

		width: 192px;
		height: 160px;
	}

	.plant {
		left: 200px;

		transform: scale(1);
	}

	.plantSproutTomato {
		bottom: 110px;

		transform: scale(1);
	}

	.plantColorTomato {
		bottom: 110px;

		transform: scale(1);
	}

	.plantModifiedTomato {
		left: 120px;
		bottom: 110px;

		transform: scale(1);
	}

	.plantSproutPepper {
		bottom: 110px;

		transform: scale(1);
	}

	.plantColorPepper {
		left: 185px;
		bottom: 110px;

		transform: scale(1);
	}

	.plantModifiedPepper {
		left: 140px;
		bottom: 110px;
		transform: scale(1);
	}

	.plantSproutStrawberry {
		bottom: 100px;

		transform: scale(1);
	}

	.plantColorStrawberry {
		left: 195px;
		bottom: 105px;

		transform: scale(1);
	}

	.plantModifiedStrawberry {
		left: 195px;
		bottom: 105px;

		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.chemistryTableBack {
		width: 690px;
		height: 140px;
	}

	.bigFlaskEmpty {
		bottom: 15px;
		left: 185px;
		width: 150px;
	}

	.plant {
		left: 175px;
	}

	.plantSproutTomato {
		bottom: 102px;
	}

	.plantColorTomato {
		bottom: 100px;
	}

	.plantModifiedTomato {
		left: 93px;
		bottom: 100px;
	}

	.plantSproutPepper {
		bottom: 102px;
	}

	.plantColorPepper {
		left: 160px;
		bottom: 100px;
	}

	.plantModifiedPepper {
		left: 115px;
		bottom: 100px;
	}

	.plantSproutStrawberry {
		bottom: 90px;
	}

	.plantColorStrawberry {
		left: 180px;
		bottom: 94px;
	}

	.plantModifiedStrawberry {
		left: 180px;
		bottom: 94px;
	}
}

@media (max-width: 1168px) {
	.chemistryTableBack {
		width: 520px;
		height: 105px;
	}

	.bigFlaskEmpty {
		bottom: 10px;
		left: 125px;
		width: 125px;
	}

	.plant {
		bottom: 71px;
		left: 102px;

		transform: scale(0.8);
	}

	.plantSproutTomato {
		bottom: 71px;

		transform: scale(0.8);
	}

	.plantColorTomato {
		bottom: 71px;

		transform: scale(0.8);
	}

	.plantModifiedTomato {
		left: 27px;
		bottom: 30px;

		transform: scale(0.6);
	}

	.plantSproutPepper {
		bottom: 71px;

		transform: scale(0.8);
	}

	.plantColorPepper {
		left: 95px;
		bottom: 60px;

		transform: scale(0.6);
	}

	.plantModifiedPepper {
		left: 38px;
		bottom: 35px;
		transform: scale(0.6);
	}

	.plantSproutStrawberry {
		bottom: 60px;

		transform: scale(0.8);
	}

	.plantColorStrawberry {
		left: 102px;
		bottom: 63px;

		transform: scale(0.8);
	}

	.plantModifiedStrawberry {
		left: 102px;
		bottom: 63px;

		transform: scale(0.8);
	}
}

@media (max-width: 920px) {
	.chemistryTableBack {
		width: 490px;
		height: 100px;
	}
}

@media (max-width: 770px) {
	.chemistryTableBack {
		width: 390px;
		height: 82px;
	}

	.bigFlaskEmpty {
		bottom: 10px;
		left: 85px;
		width: 80px;
	}

	.plant {
		bottom: 71px;
		left: 102px;

		transform: scale(0.6);
	}

	.plantSproutTomato {
		left: 55px;
		bottom: 37px;

		transform: scale(0.6);
	}

	.plantColorTomato {
		bottom: 33px;
		left: 40px;

		transform: scale(0.6);
	}

	.plantModifiedTomato {
		left: -26px;
		bottom: -20px;
		transform: scale(0.4);
	}

	.plantSproutPepper {
		left: 50px;
		bottom: 37px;

		transform: scale(0.6);
	}

	.plantColorPepper {
		bottom: 28px;
		left: 40px;

		transform: scale(0.5);
	}

	.plantModifiedPepper {
		left: -19px;
		bottom: -14px;
		transform: scale(0.4);
	}

	.plantSproutStrawberry {
		bottom: 19px;
		left: 48px;
		transform: scale(0.5);
	}

	.plantColorStrawberry {
		bottom: 19px;
		left: 48px;
		transform: scale(0.5);
	}

	.plantModifiedStrawberry {
		bottom: 19px;
		left: 48px;
		transform: scale(0.5);
	}
}
