@import '../../../../../assets/styles/variables.css';

.border {
	width: 772px;
	height: 432px;
	border-radius: 4px;
	border: 2px solid#8990a5;
	outline-color: #8990a5;
	outline-width: 2px;
	background-color: #d9d9d9;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 200;
}

.screen {
	width: 740px;
	height: 404px;
	padding: 10px 10px 25px 10px;

	border: 2px solid var(--secondary-text-gray-dark);
	background-color: var(--primary-grey);

	display: flex;
}

.listLevels {
	/* max-width: 600px; */
	width: 100%;

	display: flex;
	flex-wrap: wrap;
}

.itemLevels {
	width: 270px;
	height: 160px;

	margin: 12px;

	display: flex;
}

.pestInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pestTitle {
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 16px;
	line-height: 32px;
}

.pestImgList {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.pestLevel {
	margin-left: 20px;
}

.pestLevelImgWrapper {
	position: relative;
}

.pestLevelImg {
	width: 166px;
	height: 127px;

	border-radius: 4px;
	border: 2px solid var(--secondary-text-gray);

	user-select: none;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.ultrasound {
	position: absolute;
	top: 0px;
	left: 0px;

	width: 166px;
	height: 160px;

	background-image: url(../../../../../../public/images/ultrasound.png);

	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;

	user-select: none;
	animation: opacityUltra 3s;
}

.pestIndicator {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 166px;
	height: 33px;
	margin-top: 15px;
}

.pestIndicator p {
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

/* indicator of pest */
.indicatorWrapper {
	margin: 0px 8px;
	background-color: var(--primary-black);
	max-width: 100px;
	width: 100%;
	height: 12px;

	border-radius: 4px;
	outline: none;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.indicatorWrapper p {
	color: transparent;
	user-select: none;
}

.indicatorNumber::after {
	display: block;
	position: absolute;
	top: -15px;
	left: 20px;

	content: '30%';
	padding: 2px 4px 2px 4px;

	background-color: var(--primary-black);
	color: var(--secondary-text-gray);
	text-align: center;
	font-size: 10px;
	font-weight: 500;
	line-height: 8px;
}

.indicatorLine {
	max-width: 100px;
	min-width: 30px;
	width: 30px;

	position: absolute;
	top: 0px;
	left: 0px;
	height: 12px;
	border-radius: 4px;
	background: #8990a5;
}

.indicatorNumberCritical::after {
	left: 40px;
	content: '50%';
	animation: indicatorNumber 1s;
}

.indicatorLineCritical {
	width: 50px;
	background-color: #df1d11;

	animation: widthLine 1s;
}

/* css li drone */

.itemDrone {
	display: flex;
	align-items: flex-end;

	margin-left: 12px;
}

.insecticideList {
	display: flex;
}

.insecticide {
	width: 86px;
	height: 130px;

	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}

.insecticideBug {
	background-image: url(../../../../../../public/images/insecticideBug.svg);
}

.insecticideBug:hover {
	background-image: url(../../../../../../public/images/insecticideBugActive.svg);
}

.insecticideBugActive {
	background-image: url(../../../../../../public/images/insecticideBugActive.svg);
}

.insecticideLocusts {
	background-image: url(../../../../../../public/images/insecticideLocusts.svg);
}

.insecticideLocusts:hover {
	background-image: url(../../../../../../public/images/insecticideLocustsActive.svg);
}

.insecticideLocustsActive {
	background-image: url(../../../../../../public/images/insecticideLocustsActive.svg);
}

.insecticideCaterpillar {
	background-image: url(../../../../../../public/images/insecticideCaterpillar.svg);
}

.insecticideCaterpillar:hover {
	background-image: url(../../../../../../public/images/insecticideCaterpillarActive.svg);
}

.insecticideCaterpillarActive {
	background-image: url(../../../../../../public/images/insecticideCaterpillarActive.svg);
}

/* css drone */
.drone {
	position: relative;
	width: 148px;
	height: 82px;

	background-image: url(../../../../../../public/images/droneGame.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	user-select: none;
	cursor: pointer;
}

.drone:hover {
	background-image: url(../../../../../../public/images/droneGameActive.svg);
}

.droneActive {
	background-image: url(../../../../../../public/images/droneGameActive.svg);
}

.droneMovedTomato {
	top: -156px;
	right: 440px;

	animation: droneMovedTomato 7s;
}

.droneReturnTomato {
	top: 0px;
	right: 0px;

	animation: droneReturnTomato 7s;
}

/* Levels states */
.pestLevelImg:hover {
	border-color: var(--primary-green);
}

.pestLevelImgActive {
	border-color: var(--primary-green);
}

/* animations */
@keyframes widthLine {
	0% {
		width: 30px;
	}

	100% {
		width: 50px;
	}
}

@keyframes indicatorNumber {
	0% {
		left: 30px;
	}

	50% {
		content: '50%';
	}

	100% {
		left: 40px;
	}
}

@keyframes opacityUltra {
	0% {
		opacity: 0;
	}

	10% {
		opacity: 0.5;
		transform: rotate(0deg);
	}

	20% {
		opacity: 1;
		transform: rotate(12deg);
	}

	40% {
		opacity: 0.5;
		transform: rotate(0deg);
	}

	60% {
		opacity: 1;
		transform: rotate(-19deg);
	}

	80% {
		opacity: 0.5;
	}

	100% {
		opacity: 1;
		transform: rotate(0deg);
	}
}

@keyframes droneMovedTomato {
	0% {
		top: 0px;
		right: 0px;
	}

	50% {
		top: -156px;
		right: 0px;
	}

	88% {
		transform: rotate(-10deg);
	}

	100% {
		top: -156px;
		right: 440px;
		transform: rotate(0deg);
	}
}

@keyframes droneReturnTomato {
	0% {
		top: -156px;
		right: 440px;
		transform: rotate(10deg);
	}

	38% {
		transform: rotate(0deg);
	}

	50% {
		top: -156px;
		right: 0px;
	}

	100% {
		top: 0px;
		right: 0px;
	}
}
