.navBar {
	position: relative;
	width: 1280px;
	height: 660px;
}

.navigation {
	position: absolute;
	top: 24px;
	left: 50%;
	margin-left: -107px;

	z-index: 100;
}

.exitButton {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 100;
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 100;
}

.blockButtonBank {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 100;
}

.mapBack {
	width: 100%;
	height: 100%;
}
