@import '../../../../assets/styles/variables.css';

.navBar {
	position: relative;
	width: var(--desktop-width);
	height: var(--desktop-height);
	margin: 0 auto;
}

.navigation {
	position: absolute;
	top: 24px;
	left: 50%;
	margin-left: -107px;

	z-index: 120;
}

.exitButton {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 120;
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 120;
}

/* .blockButtonWallet:hover::after {
	content: attr(data-title);
	position: absolute;
	left: 20%;
	top: 30%;
	z-index: 1;
	background: var(--primary-green);
	color: var(--primary-grey);
	font-size: 11px;
	padding: 5px;
	border-radius: 10px 10px 10px 10px;
	border: 1px solid #333;
} */

.blockButtonPoints {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 120;
}

.mapBack {
	width: 100%;
	height: 100%;
}

/* @media screen and (orientation: portrait) {
	.navBar {
		display: none;
	}

	.imgRotatePhone {
		display: flex;
	}
} */

@media (max-width: 2280px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-pc-full-hd);
	}
}

@media (max-width: 1880px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-pc);
	}
}

@media (max-width: 1380px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-notebook);
	}
}

@media (max-width: 1250px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-tablet-notebook);
	}
}

@media (max-width: 1150px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-tablet);
	}
}

@media (max-width: 1044px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile);
	}
}

@media (max-width: 760px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile-mini);
	}
}

@media (max-width: 600px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile-ultra-mini);
	}
}

@media (max-width: 480px) {
	.imgRotatePhone {
		display: flex;
	}

	.navBar {
		/* transform: rotate(90deg); */
		zoom: 100%;
	}
}

/* @media (max-width: 1044px) {
	.navBar {
		max-width: var(--tablet-width);
		max-height: var(--tablet-height);
	}

	.navigation {
		margin-left: -87px;
	}
}

@media (max-width: 788px) {
	.navBar {
		max-width: var(--tablet-mobile-width);
		max-height: var(--tablet-mobile-height);
	}

	.blockButtonPoints {
		top: 98px;
	}

	.navigation {
		margin-left: -81px;
	}
} */

/* @media (max-width: 532px) {
	.navBar {
		max-width: var(--mobile-width);
		max-height: var(--mobile-height);
	}
} */
