@import '../../../../assets/styles/variables.css';

.navBar {
	position: relative;
	/* width: var(--desktop-width);
	height: var(--desktop-height); */

	width: var(--notebook-width);
	height: var(--notebook-height);
	margin: 0 auto;
}

.navigation {
	position: absolute;
	top: 24px;
	left: 50%;
	margin-left: -107px;

	z-index: 120;
}

.exitButton {
	position: absolute;
	bottom: 24px;
	left: 24px;

	z-index: 120;
}

.blockButtonWallet {
	position: absolute;
	top: 24px;
	right: 24px;

	z-index: 120;
}

.blockButtonPoints {
	position: absolute;
	top: 128px;
	right: 24px;

	z-index: 120;
}

.mapBack {
	/* width: 100%;
	height: 100%; */

	width: var(--notebook-width);
	height: var(--notebook-height);
}

/* @media (max-width: 2280px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-pc-full-hd);
	}
}

@media (max-width: 1880px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-pc);
	}
}

@media (max-width: 1380px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-notebook);
	}
}

@media (max-width: 1250px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-tablet-notebook);
	}
}

@media (max-width: 1150px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-tablet);
	}
}

@media (max-width: 1044px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile);
	}
}

@media (max-width: 760px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile-mini);
	}
}

@media (max-width: 600px) {
	.navBar {
		margin: 0 auto;
		zoom: var(--zoom-mobile-ultra-mini);
	}
}

@media (max-width: 480px) {
	.imgRotatePhone {
		display: flex;
	}

	.navBar {
		zoom: 100%;
	}
} */

@media (max-width: 1580px) {
	.navBar {
		width: var(--notebook-width);
		height: var(--notebook-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}
}

@media (max-width: 1280px) {
	.navBar {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}
}

@media (max-width: 1248px) {
	.navBar {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.navigation {
		transform: scale(0.8);
	}

	.exitButton {
		transform: scale(0.8);
	}

	.blockButtonWallet {
		transform: scale(0.8);
	}

	.blockButtonPoints {
		top: 108px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBar {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.navigation {
		top: 5px;
		transform: scale(0.6);
	}

	.exitButton {
		bottom: 5px;
		left: 5px;
		transform: scale(0.6);
	}

	.blockButtonWallet {
		right: 5px;
		top: 5px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		right: 5px;
		top: 68px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBar {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.navigation {
		top: 0px;
		transform: scale(0.6);
	}

	.exitButton {
		bottom: 5px;
		left: 0px;
		transform: scale(0.6);
	}

	.blockButtonWallet {
		right: -15px;
		top: 0px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		right: -15px;
		top: 68px;
		transform: scale(0.6);
	}
}

@media (max-width: 770px) {
	.navBar {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.navigation {
		top: -10px;
		transform: scale(0.4);
	}

	.exitButton {
		bottom: -10px;
		left: -10px;
		transform: scale(0.4);
	}

	.blockButtonWallet {
		right: -20px;
		top: -10px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		right: -20px;
		top: 38px;
		transform: scale(0.4);
	}
}
