@import '../../../../assets/styles/variables.css';

.navBar {
	position: relative;
	width: var(--notebook-width);
	height: var(--notebook-height);
	margin: 0 auto;
}

.navigation {
	position: absolute;
	top: 44px;
	left: 50%;
	margin-left: -107px;

	z-index: 120;
	transform: scale(1.2);
}

.exitButton {
	position: absolute;
	bottom: 24px;
	left: 44px;

	z-index: 120;
	transform: scale(1.2);
}

.blockButtonWallet {
	position: absolute;
	top: 44px;
	right: 44px;

	z-index: 120;
	transform: scale(1.2);
}

.blockButtonPoints {
	position: absolute;
	top: 168px;
	right: 44px;

	z-index: 120;
	transform: scale(1.2);
}

.mapBack {
	width: var(--notebook-width);
	height: var(--notebook-height);
}

/* media */
@media (max-width: 1620px) {
	.navBar {
		width: var(--notebook-width);
		height: var(--notebook-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--notebook-width);
		height: var(--notebook-height);
	}

	.navigation {
		transform: scale(1.2);
	}

	.exitButton {
		transform: scale(1.2);
	}

	.blockButtonWallet {
		transform: scale(1.2);
	}

	.blockButtonPoints {
		transform: scale(1.2);
	}
}

@media (max-width: 1400px) {
	.navBar {
		width: var(--notebook-desktop-width);
		height: var(--notebook-desktop-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--notebook-desktop-width);
		height: var(--notebook-desktop-height);
	}

	.navigation {
		transform: scale(1.15);
	}

	.exitButton {
		transform: scale(1.15);
	}

	.blockButtonWallet {
		transform: scale(1.15);
	}

	.blockButtonPoints {
		transform: scale(1.15);
	}
}

@media (max-width: 1280px) {
	.navBar {
		width: var(--desktop-width);
		height: var(--desktop-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--desktop-width);
		height: var(--desktop-height);
	}

	.navigation {
		top: 24px;
		transform: scale(1);
	}

	.exitButton {
		left: 24px;
		transform: scale(1);
	}

	.blockButtonWallet {
		top: 24px;
		transform: scale(1);
	}

	.blockButtonPoints {
		top: 128px;
		transform: scale(1);
	}
}

@media (max-width: 1248px) {
	.navBar {
		width: var(--tablet-width);
		height: var(--tablet-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--tablet-width);
		height: var(--tablet-height);
	}

	.navigation {
		top: 14px;
		transform: scale(0.8);
	}

	.exitButton {
		bottom: 14px;
		left: 14px;
		transform: scale(0.8);
	}

	.blockButtonWallet {
		top: 14px;
		right: 14px;
		transform: scale(0.8);
	}

	.blockButtonPoints {
		right: 14px;
		top: 108px;
		transform: scale(0.8);
	}
}

@media (max-width: 1168px) {
	.navBar {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--tablet-mobile-width);
		height: var(--tablet-mobile-height);
	}

	.navigation {
		top: 2px;
		transform: scale(0.6);
	}

	.exitButton {
		bottom: 0px;
		left: 0px;
		transform: scale(0.6);
	}

	.blockButtonWallet {
		right: 0px;
		top: 2px;
		transform: scale(0.6);
	}

	.blockButtonPoints {
		right: 0px;
		top: 66px;
		transform: scale(0.6);
	}
}

@media (max-width: 920px) {
	.navBar {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--middle-mobile-width);
		height: var(--middle-mobile-height);
	}

	.navigation {
		top: -5px;
		transform: scale(0.5);
	}

	.exitButton {
		bottom: -5px;
		left: -5px;
		transform: scale(0.5);
	}

	.blockButtonWallet {
		right: -15px;
		top: -5px;
		transform: scale(0.5);
	}

	.blockButtonPoints {
		right: -15px;
		top: 47px;
		transform: scale(0.5);
	}
}

@media (max-width: 770px) {
	.navBar {
		width: var(--mobile-width);
		height: var(--mobile-height);
		margin: 0 auto;
	}

	.mapBack {
		width: var(--mobile-width);
		height: var(--mobile-height);
	}

	.navigation {
		top: -10px;
		transform: scale(0.4);
	}

	.exitButton {
		bottom: -10px;
		left: -10px;
		transform: scale(0.4);
	}

	.blockButtonWallet {
		right: -20px;
		top: -10px;
		transform: scale(0.4);
	}

	.blockButtonPoints {
		right: -20px;
		top: 38px;
		transform: scale(0.4);
	}
}
