@import '../../../../../assets/styles/variables.css';

.gameBack {
	position: relative;
	background-color: var(--primary-black);
	width: 1280px;
	height: 660px;
}

.machineCharacteristicsWrapper {
	position: absolute;
	bottom: 0px;
	left: 0px;

	max-width: 100%;
	max-height: 100%;
}

.dialogDanilWrapper {
	position: absolute;
	bottom: 0px;
	right: 10px;

	max-width: 100%;
	max-height: 100%;
}
