.wrapper {
	position: absolute;
	left: 200px;
	bottom: 140px;
	z-index: 100;
}

.droppableZone {
	padding: 5px;
	border-radius: 5px;
	background-color: #444444;
	margin-bottom: 10px;

	display: flex;
}

.droppable h3 {
	color: #fff;
}

.draggableWrapper {
	padding: 4px;
	margin-bottom: 10px;
}

.flask {
	width: 30px;
	height: 87px;

	background-image: url(../../../../../../../public/images/blueFlask.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position-y: bottom;
}
