@import '../../../assets/styles/variables.css';

.startBlock {
	position: relative;
	width: 630px;
	min-height: 430px;
	padding: 52px 60px;

	display: flex;
	flex-direction: column;

	border-radius: 24px;
	background: linear-gradient(302deg, #1e4e4e 16.05%, #1f2431 75.16%);
}

.startBlock:before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	width: 330px;
	height: 290px;
	background-image: url(../../../../public/images/electroshema.png);
	background-repeat: no-repeat;
	border-top-left-radius: 24px;
	z-index: 0;
}

.title {
	margin-bottom: 32px;
	color: var(--primary-green);
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	z-index: 10;
}

.contentText p {
	width: 100%;

	color: var(--secondary-text-gray);
	font-size: 20px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 1.2px;
	z-index: 10;
}

.contentImg {
	display: flex;
	justify-content: space-between;
	z-index: 10;
}

.contentImg img {
	cursor: pointer;

	border-radius: 4px;
	border: 2px solid #bfc6dc;
	box-shadow: var(--bx-12);
	transition: border-color 0.3s ease-in-out;
}

.contentImg img:hover,
.contentImg img:focus,
.contentImg img:active {
	border-color: var(--primary-green);
}

.wrapperBtn {
	margin-top: 40px;
	max-width: 230px;
	width: 100%;
	align-self: flex-end;
}
