@import url('./variables.css');
@import url('./reset.css');

html,
body {
	height: 100%;
}

body {
	background-color: #1e1e1e;
	padding: 0;
	margin: 0;

	color: var(--secondary-text-gray);
	font-family: var(--default-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;

	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* Global classes  */
.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: $desktop-width;
	width: 100%;
	margin: 0 auto;
}

.error {
	margin: 5px 0px;
	color: var(--secondary-hover-red);
}
