@import url('./variables.css');
@import url('./reset.css');

html,
body {
	height: 100%;
}

body {
	background-color: #1e1e1e;
	padding: 0;
	margin: 0;

	color: var(--secondary-text-gray);
	font-family: var(--default-font);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px;

	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

/* Global classes  */
.wrapper-inner-page {
	padding: 40px 30px;
	text-align: center;
	max-width: $desktop-width;
	width: 100%;
	margin: 0 auto;
}

.error {
	margin: 5px 0px;
	color: var(--secondary-hover-red);
}

* {
	scrollbar-color: var(--primary-green);
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	border-radius: 4px;
	width: 12px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(185, 245, 152, 1);
	border-radius: 4px;

	box-shadow: inset 0px 0px 3px 0px rgba(20, 27, 37, 1);
}

::-webkit-scrollbar-track {
	background-color: rgba(191, 198, 220, 0.5);
	border-radius: 4px;
}

/* media */
@media (max-width: 600px) {
	.error {
		font-size: 13px;
	}
}
