@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
	/* screen  */
	--pc-width: 1680px;
	--pc-height: 900px;

	--notebook-width: 1480px;
	--notebook-height: 860px;

	--desktop-width: 1280px;
	--desktop-height: 660px;

	--tablet-width: 1034px;
	--tablet-height: 538px;

	--tablet-mobile-width: 778px;
	--tablet-mobile-height: 406px;

	--middle-mobile-width: 650px;
	--middle-mobile-height: 340px;

	--mobile-width: 522px;
	--mobile-height: 274px;

	--mobile: 480px;

	--zoom-pc-full-hd: 135%;
	--zoom-pc-hd: 125%;
	--zoom-pc: 115%;
	--zoom-notebook: 100%;

	--zoom-tablet-notebook: 70%;
	--zoom-tablet: 60%;
	--zoom-mobile: 50%;
	--zoom-mobile-mini: 45%;
	--zoom-mobile-ultra-mini: 40%;
	/* --zoom-mobile: 0%; */

	/* primary colors  */
	--primary-green: #89e159;
	--primary-grey: #1f2431;
	--primary-black: #141b25;

	/* secondary colors  */
	--secondary-hover-green: #1e4e4e;
	--secondary-hover-red: #f68561;
	--secondary-hover-red-dark: #df1d11;
	--secondary-hover-yellow: #d2e68a;

	--secondary-text-gray: #bfc6dc;
	--secondary-text-gray-dark: #8990a5;

	--secondary-gradient-green: linear-gradient(
		302deg,
		#1e4e4e 16.05%,
		#1f2431 75.16%
	);

	--secondary-gradient-green-light: linear-gradient(
		0deg,
		#b9f598 0%,
		#b9f598 100%
	);

	--secondary-gradient-green-hard: linear-gradient(
		0deg,
		#89e159 0%,
		#b9f598 100%
	);

	--secondary-gradient-green-dark: linear-gradient(
		329deg,
		rgba(30, 78, 78, 0.6) -13.26%,
		rgba(31, 36, 49, 0.6) 46.17%
	);

	/* fonts  */
	--default-font: 'Ubuntu', sans-serif;

	--font-white: #ffffff;
	--font-grey: var(--secondary-text-gray);

	/* shadows  */
	/* --bx-primary-green: 0 4px 4px rgba(var(--primary-green), 0.25); */
	--bx-12: 12px 12px 20px 0px rgba(0, 0, 0, 0.25);
}
