@import '../../../../assets/styles/variables.css';

.blockBtn {
	width: 150px;
	height: 86px;

	display: inline-flex;
	padding: 20px;
	align-items: center;

	border-radius: 12px;
	border: 2px solid var(--primary-green);
	background: var(--primary-grey);
}

.indicator {
	margin-left: 16px;
	max-width: 48px;
	width: 100%;
	text-align: center;
	font-size: 20px;
	line-height: 32px;
}

@media (max-width: 1044px) {
	.blockBtn {
		width: 135px;
		height: 71px;
		padding: 15px;
	}

	.indicator {
		font-size: 18px;
	}
}
